Repository paritytech/parity-bridges-common, pull requests merged in 2020-09, with the labels that each got.

#317 Custom RPC methods for DummyOrdered pallet
  Cargo.lock
  bin/node/node/Cargo.toml
  modules/message-lane/rpc/Cargo.toml
  modules/message-lane/rpc/src/error.rs
  modules/message-lane/rpc/src/lib.rs
  primitives/runtime/Cargo.toml
  primitives/runtime/src/lib.rs
Labels: B-Substrate to Substrate, P-Message Delivery

#337 Bump default OpenEthereum commit for Docker images
  deployments/rialto/OpenEthereum.Dockerfile
  deployments/rialto/docker-compose.git.yml
Labels: A-deps

#342 Extract ShiftSessionManager into separate pallet
  Cargo.lock
  bin/node/runtime/Cargo.toml
  bin/node/runtime/src/lib.rs
  modules/shift-session-manager/Cargo.toml
  modules/shift-session-manager/src/lib.rs
Labels: P-Runtime

#343 Resurrect substrate StorageProofChecker
  Cargo.lock
  modules/substrate/Cargo.toml
  modules/substrate/src/lib.rs
  modules/substrate/src/storage_proof.rs
Labels: B-Substrate to Substrate, P-Runtime

#340 Add Front-end docker
  deployments/README.md
  deployments/rialto/Front-end.Dockerfile
  deployments/rialto/docker-compose.yml
Labels: P-Devops

#345 Make message-lane Event generic
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
Labels: B-Substrate to Substrate, P-Message Delivery, P-Runtime, PR-Merge at will when CI green

#318 Relay DummyOrdered messages
  relays/ethereum/src/ethereum_client.rs
  relays/ethereum/src/ethereum_deploy_contract.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_types.rs
  relays/ethereum/src/exchange.rs
  relays/ethereum/src/headers.rs
  relays/ethereum/src/main.rs
  relays/ethereum/src/message_lane.rs
  relays/ethereum/src/message_lane_loop.rs
  relays/ethereum/src/message_race_delivery.rs
  relays/ethereum/src/message_race_loop.rs
  relays/ethereum/src/substrate_client.rs
  relays/ethereum/src/substrate_types.rs
  relays/ethereum/src/sync.rs
  relays/ethereum/src/sync_loop.rs
  relays/ethereum/src/sync_loop_tests.rs
  relays/ethereum/src/sync_types.rs
  relays/ethereum/src/utils.rs
Labels: P-Message Delivery, P-Relay, PR-Merge at will when CI green

#341 Prepare separate runtime for testing sub2sub bridge
  .github/workflows/publish-docker.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  bin/millau-node/Cargo.toml
  bin/millau-node/src/main.rs
  bin/millau-runtime/Cargo.toml
  bin/millau-runtime/build.rs
  bin/millau-runtime/src/lib.rs
  bin/node/Cargo.toml
  bin/node/build.rs
  bin/node/src/chain_spec.rs
  bin/node/src/cli.rs
  bin/node/src/command.rs
  bin/node/src/lib.rs
  bin/node/src/service.rs
  bin/rialto-node/Cargo.toml
  bin/rialto-node/src/main.rs
  bin/rialto-runtime/Cargo.toml
  bin/rialto-runtime/build.rs
  bin/rialto-runtime/src/benches.rs
  bin/rialto-runtime/src/exchange.rs
  bin/rialto-runtime/src/kovan.rs
  bin/rialto-runtime/src/lib.rs
  bin/rialto-runtime/src/rialto.rs
  bin/scripts/init.sh
  deployments/README.md
  deployments/rialto/Bridge.Dockerfile
  deployments/rialto/OpenEthereum.Dockerfile
  deployments/rialto/bridge-config/relay-eth-exchange-sub-entrypoint.sh
  deployments/rialto/bridge-config/relay-eth2sub-entrypoint.sh
  deployments/rialto/bridge-config/relay-sub2eth-entrypoint.sh
  deployments/rialto/bridge-config/reserved
  deployments/rialto/docker-compose.git.yml
  deployments/rialto/docker-compose.yml
  deployments/scripts/bridge-entrypoint.sh
  deployments/scripts/run_eth2sub.sh
  deployments/scripts/run_sub2eth.sh
  modules/ethereum-contract/builtin/Cargo.toml
  modules/ethereum-contract/builtin/src/lib.rs
  relays/ethereum/Cargo.toml
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_exchange_submit.rs
  relays/ethereum/src/instances.rs
  relays/ethereum/src/substrate_client.rs
  relays/ethereum/src/substrate_types.rs
  scripts/run-rialto-node.sh
Labels: A-chores, P-Runtime

#350 Fix Rialto test-poa genesis state root
  bin/rialto-runtime/src/rialto.rs
Labels: B-ETH to Substrate, P-Runtime

#356 Remove || true from Bridge.dockerfile
  deployments/rialto/Bridge.Dockerfile
Labels: A-chores, PR-Merge at will when CI green

#353 Verify GRANDPA justifications from runtime
  Cargo.lock
  modules/substrate/Cargo.toml
  modules/substrate/src/justification.rs
  modules/substrate/src/lib.rs
Labels: B-Substrate to Substrate, P-Runtime

#354 Rename Ethereum Headers to AuraHeader
  bin/rialto-runtime/src/kovan.rs
  bin/rialto-runtime/src/lib.rs
  bin/rialto-runtime/src/rialto.rs
  deployments/types.json
  modules/ethereum/src/benchmarking.rs
  modules/ethereum/src/finality.rs
  modules/ethereum/src/import.rs
  modules/ethereum/src/lib.rs
  modules/ethereum/src/mock.rs
  modules/ethereum/src/test_utils.rs
  modules/ethereum/src/validators.rs
  modules/ethereum/src/verification.rs
  primitives/ethereum-poa/src/lib.rs
  primitives/ethereum-poa/src/signatures.rs
  relays/ethereum/src/rpc.rs
  relays/ethereum/src/substrate_client.rs
  relays/ethereum/src/substrate_types.rs
Labels: A-bug

#351 Relay receiving + processing confirmations
  relays/ethereum/src/main.rs
  relays/ethereum/src/message_lane.rs
  relays/ethereum/src/message_lane_loop.rs
  relays/ethereum/src/message_race_delivery.rs
  relays/ethereum/src/message_race_receiving.rs
Labels: B-Substrate to Substrate, P-Relay, PR-Merge at will when CI green

#355 Support user-provided origins in Call-dispatch module
  bin/millau-runtime/src/lib.rs
  bin/rialto-runtime/src/lib.rs
  modules/call-dispatch/src/lib.rs
Labels: B-Substrate to Substrate, P-Message Dispatch

#357 Extract (headers, exchange, messages) relay loops into separate crates
  Cargo.lock
  relays/ethereum/Cargo.toml
  relays/ethereum/src/ethereum_client.rs
  relays/ethereum/src/ethereum_deploy_contract.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/ethereum_types.rs
  relays/ethereum/src/instances.rs
  relays/ethereum/src/main.rs
  relays/ethereum/src/rpc_errors.rs
  relays/ethereum/src/substrate_client.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/ethereum/src/substrate_types.rs
  relays/exchange-relay/Cargo.toml
  relays/exchange-relay/src/exchange.rs
  relays/exchange-relay/src/exchange_loop.rs
  relays/exchange-relay/src/exchange_loop_metrics.rs
  relays/exchange-relay/src/lib.rs
  relays/headers-relay/Cargo.toml
  relays/headers-relay/src/headers.rs
  relays/headers-relay/src/lib.rs
  relays/headers-relay/src/sync.rs
  relays/headers-relay/src/sync_loop.rs
  relays/headers-relay/src/sync_loop_metrics.rs
  relays/headers-relay/src/sync_loop_tests.rs
  relays/headers-relay/src/sync_types.rs
  relays/messages-relay/Cargo.toml
  relays/messages-relay/src/lib.rs
  relays/messages-relay/src/message_lane.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_receiving.rs
  relays/utils/Cargo.toml
  relays/utils/src/lib.rs
  relays/utils/src/metrics.rs
Labels: A-chores, P-Relay

#359 Extract minimal ethereum client
  Cargo.lock
  relays/ethereum-client/Cargo.toml
  relays/ethereum-client/src/client.rs
  relays/ethereum-client/src/error.rs
  relays/ethereum-client/src/lib.rs
  relays/ethereum-client/src/rpc.rs
  relays/ethereum-client/src/sign.rs
  relays/ethereum-client/src/types.rs
  relays/ethereum/Cargo.toml
  relays/ethereum/src/ethereum_client.rs
  relays/ethereum/src/ethereum_deploy_contract.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_exchange_submit.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/instances.rs
  relays/ethereum/src/main.rs
  relays/ethereum/src/rpc.rs
  relays/ethereum/src/rpc_errors.rs
  relays/ethereum/src/substrate_client.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/ethereum/src/substrate_types.rs
Labels: A-chores, P-Relay

#364 Update schedule for deny
  .github/workflows/deny.yml
Labels: P-Devops, PR-Merge at will when CI green

#339 Fees, weights, message delivery and dispatch
  Cargo.lock
  modules/call-dispatch/src/lib.rs
  modules/message-lane/Cargo.toml
  modules/message-lane/rpc/src/lib.rs
  modules/message-lane/src/inbound_lane.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  modules/message-lane/src/outbound_lane.rs
  primitives/message-dispatch/src/lib.rs
  primitives/message-lane/Cargo.toml
  primitives/message-lane/src/lib.rs
  primitives/message-lane/src/source_chain.rs
  primitives/message-lane/src/target_chain.rs
  relays/messages-relay/src/message_lane.rs
Labels: B-Substrate to Substrate, P-Message Delivery, P-Message Dispatch, P-Runtime

#382 Bump substrate to v2.0.0
  Cargo.lock
  bin/millau-runtime/Cargo.toml
  bin/millau-runtime/src/lib.rs
  bin/node/Cargo.toml
  bin/node/src/cli.rs
  bin/node/src/command.rs
  bin/rialto-runtime/Cargo.toml
  bin/rialto-runtime/src/lib.rs
  deny.toml
  modules/call-dispatch/Cargo.toml
  modules/call-dispatch/src/lib.rs
  modules/currency-exchange/Cargo.toml
  modules/currency-exchange/src/lib.rs
  modules/ethereum-contract/builtin/Cargo.toml
  modules/ethereum/Cargo.toml
  modules/ethereum/src/mock.rs
  modules/message-lane/Cargo.toml
  modules/message-lane/rpc/Cargo.toml
  modules/message-lane/src/mock.rs
  modules/shift-session-manager/Cargo.toml
  modules/shift-session-manager/src/lib.rs
  modules/substrate/Cargo.toml
  modules/substrate/src/mock.rs
  primitives/currency-exchange/Cargo.toml
  primitives/ethereum-poa/Cargo.toml
  primitives/message-lane/Cargo.toml
  primitives/runtime/Cargo.toml
  primitives/substrate/Cargo.toml
  relays/ethereum/Cargo.toml
  relays/utils/Cargo.toml
  scripts/update_rc.sh
  scripts/update_substrate.sh
Labels: A-chores

#383 Split payload types
  modules/message-lane/src/inbound_lane.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  modules/message-lane/src/outbound_lane.rs
  primitives/message-lane/src/lib.rs
  primitives/message-lane/src/target_chain.rs
Labels: B-Substrate to Substrate, P-Message Delivery, P-Message Dispatch, PR-Merge at will when CI green

#365 Extract minimal Rialto-Sub and Millau-Sub clients
  Cargo.lock
  bin/rialto-runtime/src/lib.rs
  primitives/ethereum-poa/src/lib.rs
  relays/ethereum/Cargo.toml
  relays/ethereum/src/cli.yml
  relays/ethereum/src/ethereum_client.rs
  relays/ethereum/src/ethereum_deploy_contract.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/instances.rs
  relays/ethereum/src/main.rs
  relays/ethereum/src/rialto_client.rs
  relays/ethereum/src/rpc.rs
  relays/ethereum/src/rpc_errors.rs
  relays/ethereum/src/substrate_client.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/ethereum/src/substrate_types.rs
  relays/millau-client/Cargo.toml
  relays/millau-client/src/lib.rs
  relays/rialto-client/Cargo.toml
  relays/rialto-client/src/lib.rs
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/chain.rs
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/error.rs
  relays/substrate-client/src/lib.rs
  relays/substrate-client/src/rpc.rs
  scripts/update_substrate.sh
Labels: B-Substrate to Substrate, P-Relay, PR-Merge at will when CI green

#375 Integrate Grandpa Proof Checker into Substrate Pallet
  Cargo.lock
  modules/substrate/Cargo.toml
  modules/substrate/src/justification.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/mock.rs
  modules/substrate/src/storage.rs
  modules/substrate/src/verifier.rs
Labels: B-Substrate to Substrate, P-Runtime

#388 Update async-std
  .dependabot/config.yml
  Cargo.lock
  modules/message-lane/rpc/Cargo.toml
  relays/ethereum/Cargo.toml
  relays/ethereum/src/main.rs
  relays/exchange-relay/Cargo.toml
  relays/headers-relay/Cargo.toml
  relays/messages-relay/Cargo.toml
  relays/utils/Cargo.toml
Labels: A-chores, P-Relay

#387 Get substrate dependencies from crates io
  .dependabot/config.yml
  Cargo.lock
  bin/millau-runtime/Cargo.toml
  bin/node/Cargo.toml
  bin/node/src/chain_spec.rs
  bin/rialto-runtime/Cargo.toml
  modules/call-dispatch/Cargo.toml
  modules/currency-exchange/Cargo.toml
  modules/ethereum-contract/builtin/Cargo.toml
  modules/ethereum/Cargo.toml
  modules/message-lane/Cargo.toml
  modules/message-lane/rpc/Cargo.toml
  modules/message-lane/rpc/src/lib.rs
  modules/shift-session-manager/Cargo.toml
  modules/substrate/Cargo.toml
  primitives/currency-exchange/Cargo.toml
  primitives/ethereum-poa/Cargo.toml
  primitives/message-lane/Cargo.toml
  primitives/millau/Cargo.toml
  primitives/rialto/Cargo.toml
  primitives/runtime/Cargo.toml
  primitives/substrate/Cargo.toml
  relays/ethereum/Cargo.toml
  relays/millau-client/Cargo.toml
  relays/rialto-client/Cargo.toml
  relays/substrate-client/Cargo.toml
  relays/substrate/Cargo.toml
  relays/utils/Cargo.toml
Labels: A-chores
