Repository paritytech/parity-bridges-common, pull requests merged in 2020-12, with the labels that each got.

#536 lower limit for message weight
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
Labels: B-Substrate to Substrate, P-Message Delivery

#541 Limit max number of messages in delivery transaction
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/Cargo.toml
  bin/runtime-common/src/messages.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-lane/src/target_chain.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#551 Reject too large messages
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Runtime

#542 Polkadot integration
  Cargo.lock
  primitives/kusama/Cargo.toml
  primitives/kusama/src/lib.rs
  primitives/polkadot/Cargo.toml
  primitives/polkadot/src/lib.rs
  primitives/runtime/src/lib.rs
  relays/kusama-client/Cargo.toml
  relays/kusama-client/src/lib.rs
  relays/polkadot-client/Cargo.toml
  relays/polkadot-client/src/lib.rs
  relays/substrate-client/src/chain.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/main.rs
Labels: B-Substrate <> Substrate

#545 Limit max number of unconfirmed messages at inbound lane
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/src/inbound_lane.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-lane/src/lib.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_receiving.rs
  relays/messages-relay/src/message_race_strategy.rs
  relays/substrate/src/messages_lane.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#554 Message lane benchmarks: start
  Cargo.lock
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/message-lane/Cargo.toml
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
Labels: A-chores, P-Runtime

#535 Cross-Chain Transfer Generator
  Cargo.lock
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/chain_spec.rs
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
  deployments/networks/millau.yml
  deployments/networks/rialto.yml
  deployments/types.json
  modules/call-dispatch/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
  scripts/send-message.sh
Labels: B-Substrate <> Substrate, P-Message Dispatch

#572 Add scripts for running local Rialto<->Millau header sync
  deployments/local-scripts/relay-millau-to-rialto.sh
  deployments/local-scripts/relay-rialto-to-millau.sh
  deployments/local-scripts/run-millau-node.sh
  deployments/local-scripts/run-rialto-node.sh
  scripts/run-rialto-node.sh
Labels: B-Substrate <> Substrate, P-Devops

#571 Fix send_message_worst_case benchmark
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/src/benchmarking.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#565 High-Level Documentation
  README.md
  docs/high-level-overview.md
  docs/high-level.html
  docs/plan.md
  docs/poa-eth.md
  docs/scenario1.html
  docs/testing-scenarios.md
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/justification.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/storage.rs
  modules/substrate/src/verifier.rs
  primitives/runtime/src/chain.rs
Labels: A-docs, B-Substrate <> Substrate, PR-Merge at will when CI green

#575 Limit size of message delivery transaction
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  primitives/kusama/src/lib.rs
  primitives/millau/src/lib.rs
  primitives/polkadot/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_strategy.rs
  relays/substrate/src/messages_source.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Relay

#566 Update Substrate Dependency
  Cargo.lock
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/exchange.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/call-dispatch/src/lib.rs
  modules/currency-exchange/src/benchmarking.rs
  modules/currency-exchange/src/lib.rs
  modules/ethereum/src/benchmarking.rs
  modules/ethereum/src/lib.rs
  modules/ethereum/src/mock.rs
  modules/ethereum/src/test_utils.rs
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/inbound_lane.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  modules/shift-session-manager/src/lib.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/mock.rs
  modules/substrate/src/storage_proof.rs
  primitives/millau/Cargo.toml
  primitives/millau/src/lib.rs
  primitives/millau/src/millau_hash.rs
  primitives/rialto/Cargo.toml
  primitives/rialto/src/lib.rs
  relays/substrate-client/src/chain.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: A-chores, B-Substrate <> Substrate, dependencies

#568 Rialto to Millau Transfer Generator
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/chain_spec.rs
  bin/rialto/node/src/chain_spec.rs
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
  docs/testing-scenarios.md
  modules/message-lane/src/instant_payments.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
  scripts/send-message.sh
Labels: B-Substrate <> Substrate, P-Message Dispatch

#567 Benchmarks for message delivery transaction
  Cargo.lock
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/Cargo.toml
  bin/runtime-common/src/lib.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
  modules/substrate/Cargo.toml
  modules/substrate/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#581 Add messages count parameter to delivery transaction
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-lane/src/target_chain.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#580 Add correct Docker commands in README
  README.md
Labels: A-docs, PR-Merge at will when CI green

#570 Benchmark for message delivery confirmation transaction
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#591 Fix clippy warning
  modules/ethereum/src/verification.rs
Labels: A-chores

#589 Decrease transfer amount
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
Labels: B-Substrate <> Substrate, P-Message Delivery, PR-Merge at will when CI green

#593 Enable Wasmtime and Remove `secp256k1`
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/rialto/node/Cargo.toml
  relays/ethereum-client/Cargo.toml
  relays/ethereum-client/src/sign.rs
  relays/ethereum/Cargo.toml
  relays/ethereum/src/ethereum_client.rs
  relays/ethereum/src/ethereum_exchange_submit.rs
  relays/ethereum/src/main.rs
Labels: A-chores, PR-Merge at will when CI green

#584 Add unrewarded relayers state param to the delivery confirmation transactions
  modules/message-lane/src/lib.rs
  primitives/message-lane/src/lib.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#590 Automated weights for message lane module
  .maintain/rialto-weight-template.hbs
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  modules/message-lane/src/weights.rs
  scripts/update-weights.sh
Labels: A-chores, P-Message Delivery

#594 Readme community section
  README.md
Labels: A-docs

#586 Fixes for Polkadot Integration
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  primitives/kusama/Cargo.toml
  primitives/kusama/src/lib.rs
  primitives/millau/src/lib.rs
  primitives/polkadot/Cargo.toml
  primitives/polkadot/src/lib.rs
  primitives/rialto/src/lib.rs
Labels: B-Substrate <> Substrate

#596 Message lane weight formulas
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/weights_ext.rs
Labels: A-chores, P-Message Delivery

#602 Increase maximal block weight at Millau
  primitives/millau/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery
