Repository paritytech/parity-bridges-common, pull requests merged in 2020-11, with the labels that each got.

#472 Ability to halt/resume message-lane pallet
  Cargo.lock
  modules/message-lane/Cargo.toml
  modules/message-lane/src/lib.rs
Labels: A-chores, P-Runtime, PR-Merge at will when CI green

#470 Substrate relay guards
  Cargo.lock
  primitives/runtime/src/chain.rs
  relays/millau-client/Cargo.toml
  relays/millau-client/src/lib.rs
  relays/rialto-client/Cargo.toml
  relays/rialto-client/src/lib.rs
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/chain.rs
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/error.rs
  relays/substrate-client/src/guard.rs
  relays/substrate-client/src/lib.rs
  relays/substrate-client/src/rpc.rs
Labels: P-Relay

#476 Use is_finalized in is_finalized_header
  modules/substrate/src/lib.rs
Labels: B-Substrate to Substrate, P-Runtime

#479 Parse substrate message proof
  modules/substrate/src/lib.rs
  modules/substrate/src/mock.rs
  modules/substrate/src/storage_proof.rs
  modules/substrate/src/verifier.rs
  primitives/runtime/src/chain.rs
Labels: B-Substrate to Substrate, P-Runtime

#478 Move storage keys computation to the message-lane pallet
  Cargo.lock
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/Cargo.toml
  bin/runtime-common/src/messages.rs
  modules/message-lane/Cargo.toml
  modules/message-lane/src/lib.rs
Labels: P-Message Delivery, P-Runtime

#399 Millau -> Rialto messages relay
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  primitives/millau/Cargo.toml
  primitives/millau/src/lib.rs
  primitives/rialto/Cargo.toml
  primitives/rialto/src/lib.rs
  primitives/runtime/src/chain.rs
  relays/messages-relay/src/lib.rs
  relays/messages-relay/src/message_lane.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_receiving.rs
  relays/messages-relay/src/message_race_strategy.rs
  relays/millau-client/Cargo.toml
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/lib.rs
  relays/substrate-client/src/rpc.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
  relays/substrate/src/messages_source.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_messages_to_rialto.rs
Labels: B-Substrate to Substrate, P-Relay

#481 Allow Substrate Pallet to be Initialized via Dipatchable
  bin/millau/node/src/chain_spec.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/src/millau.rs
  deployments/types.json
  modules/ethereum/src/lib.rs
  modules/ethereum/src/validators.rs
  modules/ethereum/src/verification.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/storage.rs
Labels: A-feat, B-Substrate to Substrate, P-Runtime

#482 Verify messages delivery proofs
  Cargo.lock
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/Cargo.toml
  bin/runtime-common/src/messages.rs
Labels: P-Runtime

#480 Verify messages proofs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
Labels: P-Runtime

#486 Enable GrandpaRpcApi in Rialto
  Cargo.lock
  bin/millau/node/src/service.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/service.rs
Labels: B-Substrate to Substrate

#487 Fixed client used in headers maintain
  relays/substrate/src/headers_maintain.rs
  relays/substrate/src/headers_pipeline.rs
Labels: A-bug, P-Relay

#488 Fixed block where proof is generated
  relays/messages-relay/src/message_race_loop.rs
Labels: A-bug, P-Message Delivery, P-Relay

#489 Print progress of message races
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_strategy.rs
Labels: P-Message Delivery, P-Relay

#464 Rework Compose Setup for Millau Deployment
  .dockerignore
  README.md
  bin/rialto/runtime/src/millau.rs
  deployments/Bridge.Dockerfile
  deployments/README.md
  deployments/bridges/poa-rialto/Front-end.Dockerfile
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/dashboards/grafana-dashboard.yaml
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/dashboards/relay-eth2sub-exchange-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/dashboards/relay-eth2sub-sync-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/dashboards/relay-sub2eth-sync-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/datasources/grafana-datasource.yaml
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/notifiers/grafana-notifier.yaml
  deployments/bridges/poa-rialto/dashboard/prometheus/prometheus.yml
  deployments/bridges/poa-rialto/docker-compose.yml
  deployments/bridges/poa-rialto/entrypoints/poa-exchange-tx-generator-entrypoint.sh
  deployments/bridges/poa-rialto/entrypoints/relay-headers-poa-to-rialto-entrypoint.sh
  deployments/bridges/poa-rialto/entrypoints/relay-headers-rialto-to-poa-entrypoint.sh
  deployments/bridges/poa-rialto/entrypoints/relay-poa-exchange-rialto-entrypoint.sh
  deployments/bridges/poa-rialto/poa-config/keys/BridgePoa/address_book.json
  deployments/bridges/poa-rialto/poa-config/keys/BridgePoa/arthur.json
  deployments/bridges/poa-rialto/poa-config/keys/BridgePoa/bertha.json
  deployments/bridges/poa-rialto/poa-config/keys/BridgePoa/carlos.json
  deployments/bridges/poa-rialto/poa-config/keys/BridgePoa/diego.json
  deployments/bridges/poa-rialto/poa-config/pass
  deployments/bridges/poa-rialto/poa-config/poa-node-config
  deployments/bridges/poa-rialto/poa-config/poa.json
  deployments/bridges/poa-rialto/poa-config/reserved
  deployments/bridges/rialto-millau/dashboard/prometheus/prometheus.yml
  deployments/bridges/rialto-millau/docker-compose.yml
  deployments/bridges/rialto-millau/entrypoints/relay-headers-millau-to-rialto-entrypoint.sh
  deployments/local-scripts/bridge-entrypoint.sh
  deployments/monitoring/GrafanaMatrix.Dockerfile
  deployments/monitoring/docker-compose.yml
  deployments/monitoring/grafana-matrix/config.yml
  deployments/networks/OpenEthereum.Dockerfile
  deployments/networks/eth-poa.yml
  deployments/networks/millau.yml
  deployments/networks/rialto.yml
  deployments/reverse-proxy/README.md
  deployments/reverse-proxy/docker-compose.yml
  deployments/rialto/bridge-config/reserved
  deployments/rialto/docker-compose.git.yml
  deployments/rialto/docker-compose.yml
  deployments/rialto/update.sh
  deployments/run.sh
  deployments/scripts/run_eth2sub.sh
  deployments/scripts/run_sub2eth.sh
Labels: P-Devops

#492 Use the correct folder name for entrypoint script
  Dockerfile
Labels: P-Devops, PR-Merge at will when CI green

#485 Allow Substrate Pallet to be Halted
  bin/millau/node/src/chain_spec.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/src/millau.rs
  modules/message-lane/src/lib.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/storage.rs
Labels: A-feat, B-Substrate to Substrate, P-Runtime, PR-Merge at will when CI green

#483 Relay subcommands to initialize substrate bridge pallet
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/cli.rs
  relays/substrate/src/headers_initialize.rs
  relays/substrate/src/main.rs
Labels: P-Relay, PR-Merge at will when CI green

#494 Remove Millau Genesis Config in Rialto Node
  bin/rialto/node/src/chain_spec.rs
Labels: P-Runtime, PR-Merge at will when CI green

#497 Fix typo in relay cli subcommand description
  relays/substrate/src/cli.rs
Labels: P-Relay

#498 Removed unused file
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau.rs
Labels: P-Runtime, PR-Merge at will when CI green

#501 Fix Grafana Dashboards for PoA-Rialto Deployment
  deployments/bridges/poa-rialto/dashboard/prometheus/prometheus.yml
Labels: A-bug, P-Devops

#511 Fix CI env
  .github/workflows/rust.yml
  scripts/ci-cache.sh
Labels: P-Devops, PR-Merge at will when CI green

#496 Limit messages weight in batch
  Cargo.lock
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/lib.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/rpc/Cargo.toml
  modules/message-lane/rpc/src/lib.rs
  primitives/message-lane/src/lib.rs
  relays/messages-relay/Cargo.toml
  relays/messages-relay/src/message_lane.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_receiving.rs
  relays/messages-relay/src/message_race_strategy.rs
  relays/messages-relay/src/metrics.rs
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/error.rs
  relays/substrate-client/src/rpc.rs
  relays/substrate/src/messages_source.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_messages_to_rialto.rs
Labels: P-Relay, PR-Merge at will when CI green

#509 Fixed referenced balance in rialto_messages.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
Labels: P-Runtime

#512 Update PoA-Rialto Dashboards to match Rialto-Millau Ones
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/dashboards/relay-poa-to-rialto-exchange-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/dashboards/relay-poa-to-rialto-headers-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/provisioning/dashboards/relay-rialto-to-poa-headers-dashboard.json
Labels: B-PoA to Substrate, B-Substrate to PoA, P-Devops

#517 Use (some) different chain primitives in Millau
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  primitives/millau/Cargo.toml
  primitives/millau/src/lib.rs
  primitives/millau/src/millau_hash.rs
  relays/headers-relay/src/sync_types.rs
  relays/messages-relay/src/message_lane.rs
  relays/substrate-client/src/headers_source.rs
  relays/substrate/src/headers_pipeline.rs
  relays/substrate/src/messages_source.rs
  relays/substrate/src/messages_target.rs
  relays/utils/Cargo.toml
  relays/utils/src/lib.rs
Labels: P-Runtime

#515 Fixed message signed by relay
  relays/substrate/src/main.rs
Labels: P-Relay

#516 Fixed storage key used to prove outbound lane state
  modules/message-lane/rpc/src/lib.rs
Labels: P-Relay

#504 Avoid Panic When Fetching Info Before Bridge is Initialized
  modules/substrate/src/lib.rs
  relays/substrate-client/src/error.rs
  relays/substrate/src/headers_target.rs
Labels: A-bug, B-Substrate to Substrate, P-Runtime

#499 Use best block state to craft message relay transactions
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_strategy.rs
  relays/messages-relay/src/metrics.rs
  relays/substrate/src/messages_source.rs
Labels: P-Relay, PR-Merge at will when CI green

#503 Chain specific message lane apis
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  primitives/message-lane/Cargo.toml
  primitives/message-lane/src/lib.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/substrate/src/headers_maintain.rs
  relays/substrate/src/headers_pipeline.rs
  relays/substrate/src/headers_target.rs
  relays/substrate/src/main.rs
  relays/substrate/src/messages_lane.rs
  relays/substrate/src/messages_source.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_headers_to_rialto.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_headers_to_millau.rs
Labels: P-Relay

#520 Millau -> Rialto messages relay dashboard
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/dashboards/relay-millau-to-rialto-messages-dashboard.json
  deployments/bridges/rialto-millau/dashboard/prometheus/prometheus.yml
  relays/messages-relay/src/message_lane_loop.rs
Labels: A-chores, PR-Merge at will when CI green

#528 Migrate back to Substrate master
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/command.rs
  bin/millau/node/src/service.rs
  bin/millau/runtime/Cargo.toml
  bin/millau/runtime/src/lib.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/command.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/Cargo.toml
  modules/call-dispatch/Cargo.toml
  modules/call-dispatch/src/lib.rs
  modules/currency-exchange/Cargo.toml
  modules/ethereum-contract/builtin/Cargo.toml
  modules/ethereum/Cargo.toml
  modules/message-lane/Cargo.toml
  modules/message-lane/rpc/Cargo.toml
  modules/shift-session-manager/Cargo.toml
  modules/substrate/Cargo.toml
  primitives/currency-exchange/Cargo.toml
  primitives/ethereum-poa/Cargo.toml
  primitives/message-lane/Cargo.toml
  primitives/millau/Cargo.toml
  primitives/rialto/Cargo.toml
  primitives/runtime/Cargo.toml
  relays/ethereum/Cargo.toml
  relays/millau-client/Cargo.toml
  relays/rialto-client/Cargo.toml
  relays/substrate-client/Cargo.toml
  relays/substrate/Cargo.toml
  relays/utils/Cargo.toml
Labels: A-chores

#529 Generic SyncHeader type
  relays/headers-relay/src/sync_types.rs
  relays/millau-client/src/lib.rs
  relays/rialto-client/src/lib.rs
  relays/substrate-client/src/lib.rs
  relays/substrate-client/src/sync_header.rs
  relays/substrate/src/millau_headers_to_rialto.rs
  relays/substrate/src/rialto_headers_to_millau.rs
Labels: P-Relay

#526 Add more substrate accounts + use one account in one relay
  bin/millau/node/src/chain_spec.rs
  bin/rialto/node/src/chain_spec.rs
  deployments/README.md
  deployments/bridges/poa-rialto/entrypoints/relay-poa-exchange-rialto-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-headers-millau-to-rialto-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-headers-rialto-to-millau-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-millau-to-rialto-entrypoint.sh
Labels: A-chores

#532 Message relay fixes for nightly stuck
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_strategy.rs
  relays/substrate/src/messages_source.rs
Labels: P-Relay

#533 Alert for case when Millau-to-Rialto messages are not detected by relay
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/dashboards/relay-millau-to-rialto-messages-dashboard.json
Labels: P-Devops

#537 Fixed clippy warnings
  .github/workflows/rust.yml
  Dockerfile
  bin/millau/node/src/chain_spec.rs
  bin/millau/node/src/command.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/node/src/command.rs
  deployments/Bridge.Dockerfile
  modules/ethereum/src/lib.rs
  modules/ethereum/src/validators.rs
  modules/substrate/src/lib.rs
  relays/headers-relay/src/sync_loop_tests.rs
  relays/utils/src/lib.rs
Labels: PR-Merge at will when CI green

#519 Add Derived Account Origins to Dispatcher
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/src/messages.rs
  modules/call-dispatch/Cargo.toml
  modules/call-dispatch/src/lib.rs
  modules/message-lane/src/instant_payments.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-dispatch/src/lib.rs
  primitives/message-lane/src/source_chain.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  primitives/runtime/Cargo.toml
  primitives/runtime/src/lib.rs
  relays/substrate/src/main.rs
Labels: B-Substrate to Substrate, P-Runtime
