Repository paritytech/parity-bridges-common, pull requests merged in 2020-10, with the labels that each got.

#393 Support non-positional params in Substrate relay
  relays/substrate/src/cli.rs
Labels: P-Relay

#392 Extract common relay initialization function
  Cargo.lock
  relays/ethereum/src/main.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/main.rs
  relays/utils/Cargo.toml
  relays/utils/src/initialize.rs
  relays/utils/src/lib.rs
Labels: P-Relay

#372 Split Rialto and Millau Nodes
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  bin/millau-node/Cargo.toml
  bin/millau/node/Cargo.toml
  bin/millau/node/build.rs
  bin/millau/node/src/chain_spec.rs
  bin/millau/node/src/cli.rs
  bin/millau/node/src/command.rs
  bin/millau/node/src/lib.rs
  bin/millau/node/src/main.rs
  bin/millau/node/src/service.rs
  bin/millau/runtime/Cargo.toml
  bin/millau/runtime/build.rs
  bin/millau/runtime/src/lib.rs
  bin/rialto-node/Cargo.toml
  bin/rialto/node/Cargo.toml
  bin/rialto/node/build.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/node/src/cli.rs
  bin/rialto/node/src/command.rs
  bin/rialto/node/src/main.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/build.rs
  bin/rialto/runtime/src/benches.rs
  bin/rialto/runtime/src/exchange.rs
  bin/rialto/runtime/src/kovan.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/rialto.rs
  bin/scripts/init.sh
  modules/ethereum-contract/builtin/Cargo.toml
  relays/ethereum/Cargo.toml
  relays/millau-client/Cargo.toml
  relays/rialto-client/Cargo.toml
Labels: A-chores, P-Runtime

#400 Message lane loop metrics
  Cargo.lock
  relays/messages-relay/Cargo.toml
  relays/messages-relay/src/lib.rs
  relays/messages-relay/src/message_lane.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_receiving.rs
  relays/messages-relay/src/metrics.rs
Labels: B-Substrate to Substrate, P-Relay, PR-Merge at will when CI green

#389 Implement Substrate Pallet Runtime APIs
  Cargo.lock
  bin/millau/runtime/Cargo.toml
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/verifier.rs
  primitives/millau/Cargo.toml
  primitives/millau/src/lib.rs
  primitives/rialto/Cargo.toml
  primitives/rialto/src/lib.rs
Labels: B-Substrate to Substrate, P-Runtime, PR-Merge at will when CI green

#402 Add prometheus options to Substrate relay
  relays/substrate/Cargo.toml
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
  relays/substrate/src/millau_headers_to_rialto.rs
Labels: B-Substrate to Substrate, P-Relay

#403 Move Chain trait to runtime primitives
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/substrate/Cargo.toml
  modules/substrate/src/lib.rs
  modules/substrate/src/mock.rs
  primitives/millau/Cargo.toml
  primitives/millau/src/lib.rs
  primitives/rialto/Cargo.toml
  primitives/rialto/src/lib.rs
  primitives/runtime/Cargo.toml
  primitives/runtime/src/chain.rs
  primitives/runtime/src/lib.rs
  relays/millau-client/src/lib.rs
  relays/rialto-client/src/lib.rs
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/chain.rs
  relays/substrate-client/src/lib.rs
Labels: A-chores

#404 Publish substrate relay && millau bridge node images
  .github/workflows/publish-docker.yml
Labels: B-Substrate to Substrate, P-Devops

#401 Add GenesisConfig for Millau and Rialto Runtimes
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/Cargo.toml
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau.rs
  bin/rialto/runtime/src/rialto_poa.rs
  modules/substrate/src/lib.rs
  primitives/rialto/Cargo.toml
  relays/ethereum/src/instances.rs
Labels: B-Substrate to Substrate

#408 Expose GRANDPA RPC API from Millau node
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/service.rs
Labels: B-Substrate to Substrate

#417 Connect to substrate using websockets
  Cargo.lock
  relays/ethereum/src/cli.yml
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/error.rs
  relays/substrate-client/src/lib.rs
  relays/substrate/src/cli.rs
Labels: P-Relay

#398 Millau -> Rialto headers relay
  Cargo.lock
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau.rs
  primitives/millau/src/lib.rs
  relays/headers-relay/src/headers.rs
  relays/headers-relay/src/sync_loop.rs
  relays/headers-relay/src/sync_types.rs
  relays/millau-client/src/lib.rs
  relays/rialto-client/src/lib.rs
  relays/substrate-client/src/client.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/headers_target.rs
  relays/substrate/src/main.rs
  relays/substrate/src/millau_headers_to_rialto.rs
Labels: B-Substrate to Substrate, P-Relay

#420 Pin Rust Nightly Version
  .github/workflows/rust.yml
  Dockerfile
  deployments/rialto/Bridge.Dockerfile
Labels: P-Devops

#418 Optimize max messages at inbound lane
  modules/message-lane/src/inbound_lane.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-lane/src/lib.rs
Labels: P-Message Delivery, P-Runtime

#385 Reward relayers for dispatching messages
  modules/message-lane/src/inbound_lane.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-lane/src/lib.rs
  primitives/message-lane/src/source_chain.rs
  primitives/message-lane/src/target_chain.rs
Labels: B-Substrate to Substrate, P-Message Delivery

#428 Optionally include outbound lane data into messages proof
  modules/message-lane/rpc/src/lib.rs
Labels: P-Relay

#429 InboundLaneApi::latest_confirmed_nonce
  modules/message-lane/src/lib.rs
  primitives/message-lane/src/lib.rs
Labels: P-Message Delivery, P-Runtime

#394 Subscribe to justifications in Millau->Rialto headers sync
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/millau.rs
  modules/substrate/src/justification.rs
  modules/substrate/src/lib.rs
  primitives/millau/src/lib.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/headers-relay/src/headers.rs
  relays/headers-relay/src/sync_loop.rs
  relays/headers-relay/src/sync_loop_tests.rs
  relays/headers-relay/src/sync_types.rs
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/error.rs
  relays/substrate-client/src/lib.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/headers_maintain.rs
  relays/substrate/src/headers_target.rs
  relays/substrate/src/main.rs
  relays/substrate/src/millau_headers_to_rialto.rs
Labels: B-Substrate to Substrate, P-Relay

#465 Actually use pinned nightly version when building runtimes
  .github/workflows/rust.yml
  bin/millau/runtime/Cargo.toml
  bin/rialto/runtime/Cargo.toml
Labels: P-Devops

#458 Integrate message-lane module RPCs into Rialto/Millau nodes
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/millau_messages.rs
  modules/message-lane/src/lib.rs
  primitives/runtime/src/lib.rs
Labels: P-Message Delivery

#409 Support Tracking Forks in Substrate Pallet
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/storage.rs
  modules/substrate/src/verifier.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  primitives/runtime/src/chain.rs
  relays/substrate/src/headers_target.rs
  relays/substrate/src/millau_headers_to_rialto.rs
Labels: A-feat, B-Substrate to Substrate, P-Runtime

#460 SubmitMillauToRialtoMessage subcommand in substrate-relay
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  relays/millau-client/Cargo.toml
  relays/millau-client/src/lib.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
Labels: P-Relay

#467 Update jsonrpsee reference
  Cargo.lock
  bin/rialto/runtime/src/millau.rs
Labels: P-Relay

#469 Return cumulative dispatch weight of messages from the `messageLane_proveMessages`
  Cargo.lock
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/lib.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/rpc/Cargo.toml
  modules/message-lane/rpc/src/lib.rs
  modules/message-lane/src/lib.rs
  primitives/message-lane/src/lib.rs
Labels: B-Substrate to Substrate, P-Runtime
