Repository paritytech/parity-bridges-common, pull requests merged in 2021-04, with the labels that each got.

#856 Update certificates && ensure Westend node is running
  deployments/BridgeDeps.Dockerfile
  deployments/bridges/westend-millau/entrypoints/relay-headers-westend-to-millau-entrypoint.sh
Labels: A-chores

#847 Use GrandpaJustification instead of Vec<u8> in Pallet API
  Cargo.lock
  modules/grandpa/src/lib.rs
  modules/substrate/src/verifier.rs
  primitives/header-chain/src/justification.rs
  primitives/header-chain/src/lib.rs
  primitives/header-chain/tests/justification.rs
  primitives/runtime/src/storage_proof.rs
  relays/bin-substrate/src/finality_pipeline.rs
  relays/bin-substrate/src/headers_initialize.rs
  relays/bin-substrate/src/rialto_millau/millau_headers_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/rialto_headers_to_millau.rs
  relays/bin-substrate/src/rialto_millau/westend_headers_to_millau.rs
  relays/client-substrate/src/finality_source.rs
  relays/finality/Cargo.toml
  relays/finality/src/lib.rs
Labels: B-Substrate <> Substrate, P-Relay, P-Runtime

#815 Weights for `pallet-bridge-grandpa`
  .maintain/rialto-weight-template.hbs
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/grandpa/Cargo.toml
  modules/grandpa/src/benchmarking.rs
  modules/grandpa/src/lib.rs
  modules/grandpa/src/mock.rs
  modules/grandpa/src/weights.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  primitives/chain-westend/src/lib.rs
  primitives/polkadot-core/src/lib.rs
  primitives/test-utils/src/keyring.rs
Labels: B-Substrate <> Substrate, P-Runtime

#860 CLI: Derive Account
  relays/bin-substrate/src/cli/derive_account.rs
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/rialto_millau/cli.rs
  relays/bin-substrate/src/rialto_millau/mod.rs
Labels: P-Relay

#862 Use Vote Ancestries Directly in Weight Calculations
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/grandpa/src/benchmarking.rs
  modules/grandpa/src/lib.rs
  modules/grandpa/src/mock.rs
  modules/grandpa/src/weights.rs
  primitives/header-chain/tests/justification.rs
  primitives/test-utils/src/lib.rs
Labels: B-Substrate <> Substrate, PR-Merge at will when CI green

#861 CLI: De-duplicate signing/connection params.
  relays/bin-substrate/src/cli/init_bridge.rs
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/bin-substrate/src/rialto_millau/mod.rs
Labels: P-Relay

#859 CLI: Encode Call & Multiple Bridge Instances.
  relays/bin-substrate/src/cli/encode_call.rs
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/rialto_millau/cli.rs
  relays/bin-substrate/src/rialto_millau/mod.rs
Labels: P-Relay

#848 Pre-create metrics registry before loop is started + administrative metrics
  Cargo.lock
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  primitives/runtime/src/lib.rs
  relays/bin-ethereum/src/ethereum_exchange.rs
  relays/bin-ethereum/src/ethereum_sync_loop.rs
  relays/bin-ethereum/src/main.rs
  relays/bin-ethereum/src/substrate_sync_loop.rs
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/finality_pipeline.rs
  relays/bin-substrate/src/rialto_millau/millau_messages_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/rialto_messages_to_millau.rs
  relays/bin-substrate/src/rialto_millau/westend_headers_to_millau.rs
  relays/client-substrate/src/chain.rs
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/error.rs
  relays/client-substrate/src/guard.rs
  relays/client-substrate/src/lib.rs
  relays/client-substrate/src/metrics/float_storage_value.rs
  relays/client-substrate/src/metrics/mod.rs
  relays/client-substrate/src/metrics/storage_proof_overhead.rs
  relays/exchange/src/exchange_loop.rs
  relays/finality/src/finality_loop.rs
  relays/finality/src/finality_loop_tests.rs
  relays/finality/src/lib.rs
  relays/headers/src/sync_loop.rs
  relays/headers/src/sync_loop_tests.rs
  relays/messages/src/message_lane_loop.rs
  relays/utils/Cargo.toml
  relays/utils/src/lib.rs
  relays/utils/src/metrics.rs
  relays/utils/src/metrics/float_json_value.rs
  relays/utils/src/metrics/global.rs
  relays/utils/src/relay_loop.rs
Labels: A-chores, P-Relay

#866 Remove Substrate Pallet
  Cargo.lock
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/Cargo.toml
  bin/millau/runtime/src/lib.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  fuzz/storage-proof/Cargo.toml
  modules/grandpa/Cargo.toml
  modules/substrate/Cargo.toml
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/mock.rs
  modules/substrate/src/storage.rs
  modules/substrate/src/verifier.rs
  relays/bin-substrate/src/cli/encode_call.rs
  relays/client-millau/src/lib.rs
  relays/client-rialto/src/lib.rs
Labels: P-Runtime

#865 Fix SS58 Warnings in Message Generator Scripts
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
Labels: B-Substrate <> Substrate, P-Relay

#870 Fix Undeterministic CLI Encoding Test
  relays/bin-substrate/src/cli/encode_call.rs
Labels: A-bug, P-Relay

#871 Bump Substrate
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/chain_spec.rs
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/lib.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/src/messages.rs
  modules/currency-exchange/src/benchmarking.rs
  modules/currency-exchange/src/lib.rs
  modules/dispatch/src/lib.rs
  modules/ethereum/src/lib.rs
  modules/ethereum/src/mock.rs
  modules/grandpa/src/lib.rs
  modules/grandpa/src/mock.rs
  modules/messages/rpc/src/lib.rs
  modules/messages/src/benchmarking.rs
  modules/messages/src/instant_payments.rs
  modules/messages/src/lib.rs
  modules/messages/src/mock.rs
  modules/shift-session-manager/src/lib.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  primitives/chain-rococo/src/lib.rs
  primitives/header-chain/src/justification.rs
  relays/bin-ethereum/src/ethereum_client.rs
  relays/bin-ethereum/src/substrate_sync_loop.rs
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/chain.rs
  relays/client-substrate/src/guard.rs
  relays/client-substrate/src/headers_source.rs
  relays/headers/src/lib.rs
Labels: A-chores

#874 Westend Mock Runtime and Client
  Cargo.lock
  primitives/chain-rococo/Cargo.toml
  primitives/chain-rococo/src/lib.rs
  primitives/chain-westend/Cargo.toml
  primitives/chain-westend/src/lib.rs
  primitives/polkadot-core/Cargo.toml
  primitives/polkadot-core/src/lib.rs
  relays/client-rococo/src/lib.rs
  relays/client-westend/src/lib.rs
Labels: B-Substrate <> Substrate, P-Relay

#879 Fix widgets names
  deployments/bridges/poa-rialto/dashboard/grafana/relay-poa-to-rialto-headers-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/relay-rialto-to-poa-headers-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/relay-millau-to-rialto-headers-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/relay-rialto-to-millau-headers-dashboard.json
  deployments/bridges/westend-millau/dashboard/grafana/relay-westend-to-millau-headers-dashboard.json
Labels: A-chores

#880 Install CA certificates in relay images
  Dockerfile
  deployments/bridges/westend-millau/entrypoints/relay-headers-westend-to-millau-entrypoint.sh
  relays/bin-ethereum/src/rialto_client.rs
  relays/bin-substrate/src/rialto_millau/millau_headers_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/millau_messages_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/rialto_headers_to_millau.rs
  relays/bin-substrate/src/rialto_millau/rialto_messages_to_millau.rs
  relays/bin-substrate/src/rialto_millau/westend_headers_to_millau.rs
  relays/headers/src/sync_loop.rs
Labels: A-chores

#881 Rialto+Millau maintenance dashboard
  deployments/bridges/rialto-millau/dashboard/grafana/rialto-millau-maintenance-dashboard.json
Labels: A-chores

#892 Bump `jsonrpsee` to Alpha.3
  Cargo.lock
  relays/client-ethereum/Cargo.toml
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/client.rs
Labels: P-Relay, dependencies

#894 RestartNeeded from jsonrpsee is now a connection error
  relays/client-substrate/src/error.rs
Labels: P-Relay

#893 Use Substrate state_getReadProof RPC method to get storage proofs
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  modules/messages/rpc/Cargo.toml
  modules/messages/rpc/src/error.rs
  modules/messages/rpc/src/lib.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/bin-substrate/src/rialto_millau/millau_messages_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/rialto_messages_to_millau.rs
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/error.rs
  relays/client-substrate/src/metrics/storage_proof_overhead.rs
  relays/client-substrate/src/rpc.rs
Labels: P-Relay, PR-maybeaudit

#900 Fix message generator scripts
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
Labels: A-chores

#878 Complex headers+messages Millau<->Rialto relay
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/bin-substrate/src/main.rs
  relays/bin-substrate/src/messages_lane.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/bin-substrate/src/on_demand_headers.rs
  relays/bin-substrate/src/rialto_millau/millau_messages_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/mod.rs
  relays/bin-substrate/src/rialto_millau/rialto_messages_to_millau.rs
  relays/bin-substrate/src/rialto_millau/westend_headers_to_millau.rs
  relays/client-substrate/src/metrics/float_storage_value.rs
  relays/client-substrate/src/metrics/storage_proof_overhead.rs
  relays/exchange/src/exchange_loop.rs
  relays/exchange/src/exchange_loop_metrics.rs
  relays/finality/src/finality_loop.rs
  relays/headers/src/sync_loop.rs
  relays/headers/src/sync_loop_metrics.rs
  relays/messages/src/message_lane_loop.rs
  relays/messages/src/message_race_delivery.rs
  relays/messages/src/message_race_loop.rs
  relays/messages/src/message_race_receiving.rs
  relays/messages/src/message_race_strategy.rs
  relays/messages/src/metrics.rs
  relays/utils/src/metrics.rs
  relays/utils/src/metrics/float_json_value.rs
  relays/utils/src/metrics/global.rs
  relays/utils/src/relay_loop.rs
Labels: B-Substrate <> Substrate, P-Relay

#906 Speed up Grandpa Benchmark Setup
  primitives/test-utils/src/lib.rs
Labels: A-bug

#908 Fix polkadot primitives
  primitives/polkadot-core/src/lib.rs
  relays/client-rococo/src/lib.rs
  relays/client-westend/src/lib.rs
Labels: B-Substrate <> Substrate, P-Relay

#910 Update Kusama/Polkadot metrics
  deployments/bridges/rialto-millau/dashboard/grafana/rialto-millau-maintenance-dashboard.json
  relays/bin-substrate/src/chains/mod.rs
Labels: B-Substrate <> Substrate, P-Relay

#912 Bump Substrate to `46a64ac`
  Cargo.lock
Labels: dependencies

#915 Prep for Westend to Rococo Header Sync
  deployments/local-scripts/relay-headers-rococo-to-westend.sh
  deployments/local-scripts/relay-headers-westend-to-rococo.sh
  deployments/local-scripts/run-rococo-bob-node.sh
  deployments/local-scripts/run-rococo-node.sh
  deployments/local-scripts/run-westend-node.sh
  primitives/chain-rococo/src/lib.rs
  primitives/chain-westend/src/lib.rs
Labels: A-chores, B-Substrate <> Substrate

#920 Prefix in relay loops logs
  relays/bin-substrate/src/finality_pipeline.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/exchange/src/exchange.rs
  relays/exchange/src/exchange_loop.rs
  relays/finality/src/finality_loop.rs
  relays/finality/src/finality_loop_tests.rs
  relays/finality/src/lib.rs
  relays/headers/src/sync_loop.rs
  relays/headers/src/sync_types.rs
  relays/messages/src/message_lane.rs
  relays/messages/src/message_lane_loop.rs
  relays/utils/src/initialize.rs
  relays/utils/src/relay_loop.rs
Labels: B-Substrate <> Substrate, P-Relay

#921 Fix issue with on-demand headers relay not starting
  relays/messages/src/message_lane_loop.rs
  relays/messages/src/message_race_delivery.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#932 Remove deprecated Runtime Header APIs
  bin/millau/runtime/src/lib.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-rialto/src/lib.rs
Labels: B-Substrate <> Substrate

#923 Relay at least one header for every source chain session
  relays/bin-substrate/src/cli/relay_headers_and_messages.rs
  relays/bin-substrate/src/on_demand_headers.rs
Labels: B-Substrate <> Substrate, P-Relay

#933 Do not spawn additional task for on-demand relays
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/finality_pipeline.rs
  relays/bin-substrate/src/on_demand_headers.rs
  relays/finality/src/finality_loop.rs
  relays/finality/src/finality_loop_tests.rs
  relays/utils/src/relay_loop.rs
Labels: B-Substrate <> Substrate, P-Relay

#936 Reconnect to failed client in on-demand relay background task
  relays/bin-substrate/src/on_demand_headers.rs
  relays/utils/src/relay_loop.rs
Labels: P-Message Delivery, P-Relay

#938 Update to jsonrpsee alpha6
  Cargo.lock
  relays/client-ethereum/Cargo.toml
  relays/client-substrate/Cargo.toml
Labels: dependencies

#939 Bump Substrate
  Cargo.lock
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
Labels: A-chores, dependencies

#937 Do not panic if pallet is not yet initialized
  modules/grandpa/src/lib.rs
Labels: B-Substrate <> Substrate, P-Runtime

#940 Remove Westend<>Rococo header sync
  deployments/local-scripts/relay-headers-rococo-to-westend.sh
  deployments/local-scripts/relay-headers-westend-to-rococo.sh
  primitives/chain-rococo/src/lib.rs
  relays/bin-substrate/src/chains/mod.rs
  relays/bin-substrate/src/chains/rococo_headers_to_westend.rs
  relays/bin-substrate/src/chains/westend_headers_to_rococo.rs
  relays/bin-substrate/src/cli/init_bridge.rs
  relays/bin-substrate/src/cli/relay_headers.rs
Labels: A-chores, B-Substrate <> Substrate

#942 Message dispatch support multiple instances
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
Labels: A-bug, B-Substrate <> Substrate, P-Message Delivery

#924 Add backbone configuration of cargo-spellcheck
  .config/lingua.dic
  .config/spellcheck.toml
  .github/workflows/lint.yml
  modules/currency-exchange/src/lib.rs
Labels: P-Devops
