Repository paritytech/parity-bridges-common, pull requests merged in 2021-01, with the labels that each got.

#601 fix ethereum pallet benchmarks
  bin/rialto/runtime/src/exchange.rs
  modules/ethereum/src/finality.rs
  modules/ethereum/src/lib.rs
  modules/ethereum/src/test_utils.rs
Labels: B-PoA <> Substrate

#604 Update Substrate reference
  Cargo.lock
  bin/millau/node/src/command.rs
  bin/rialto/node/src/command.rs
Labels: A-chores

#600 Estimate message fee api
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
  scripts/send-message.sh
Labels: B-Substrate <> Substrate, P-Message Delivery

#624 Relayer rewards improvements
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/instant_payments.rs
  modules/message-lane/src/lib.rs
  primitives/message-lane/src/source_chain.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#625 Add more documentation for the TargetAccount variant.
  modules/call-dispatch/src/lib.rs
Labels: P-Message Dispatch

#582 Use `cargo-chef` for caching dependencies in Dockerfile
  .github/workflows/publish-deps.yml
  Dockerfile
  deployments/Bridge.Dockerfile
  deployments/BridgeDeps.Dockerfile
  deployments/README.md
Labels: P-Devops

#631 Fix Dependency Image Publishing
  .github/workflows/publish-deps.yml
Labels: A-bug, P-Devops

#632 Update vulnerable `smallvec` crate (RUSTSEC-2021-0003)
  Cargo.lock
Labels: A-chores, PR-Merge at will when CI green, dependencies

#639 Use "official" dependencies Docker image
  Dockerfile
Labels: A-chores, P-Devops, PR-Merge at will when CI green

#603 `send_message` weight now depends on message size
  bin/rialto/runtime/src/lib.rs
  modules/call-dispatch/src/lib.rs
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  modules/message-lane/src/weights.rs
  modules/message-lane/src/weights_ext.rs
  primitives/runtime/src/lib.rs
Labels: P-Message Delivery

#638 Remove redundant data from InboundLaneData
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/inbound_lane.rs
  modules/message-lane/src/lib.rs
  primitives/message-lane/src/lib.rs
Labels: A-feat, B-Substrate <> Substrate, P-Message Delivery

#641 Swap target <-> source in race logs
  relays/messages-relay/src/message_race_receiving.rs
Labels: P-Relay

#642 Expose message lane storage.
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#644 Fix log level (error -> info)
  relays/substrate/src/main.rs
Labels: P-Message Delivery, P-Relay

#645 Add dump logs script.
  scripts/dump-logs.sh
Labels: B-Substrate <> Substrate, P-Devops, PR-Merge at will when CI green

#599 Reward delivery confirmation transaction submitter (aka confirmation relayer)
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/message-lane/Cargo.toml
  modules/message-lane/src/instant_payments.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-lane/src/source_chain.rs
  relays/utils/Cargo.toml
Labels: B-Substrate <> Substrate, P-Message Delivery

#651 Add some disclaimers about security decisions
  deployments/networks/eth-poa.yml
  deployments/networks/millau.yml
  deployments/networks/rialto.yml
Labels: A-docs, PR-Merge at will when CI green

#649 Do not refetch completion data instantly
  relays/headers-relay/src/headers.rs
Labels: B-Substrate <> Substrate, P-Relay

#650 Improve Substrate pallet logs
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/verifier.rs
Labels: B-Substrate <> Substrate, P-Runtime

#652 Pin Rust Nightly to 2020-12-17
  .github/workflows/rust.yml
Labels: A-chores

#640 Move justification code to primitives crate
  Cargo.lock
  modules/substrate/Cargo.toml
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/mock.rs
  modules/substrate/src/verifier.rs
  primitives/header-chain/Cargo.toml
  primitives/header-chain/src/justification.rs
  primitives/header-chain/src/lib.rs
  primitives/header-chain/tests/justification.rs
  primitives/test-utils/Cargo.toml
  primitives/test-utils/src/lib.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/headers_maintain.rs
Labels: A-feat, B-Substrate <> Substrate, P-Runtime

#658 Change actual dispatch weight calculation formula
  modules/message-lane/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#653 Disallow Duplicate Best Headers
  modules/substrate/src/lib.rs
  modules/substrate/src/verifier.rs
Labels: A-bug, B-Substrate <> Substrate, P-Runtime

#659 Fixed messages count check
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  primitives/message-lane/src/lib.rs
  primitives/message-lane/src/target_chain.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#666 Bump Cargo Chef
  .github/workflows/publish-deps.yml
  .github/workflows/publish-docker.yml
  Dockerfile
Labels: P-Devops

#598 Use real weights to compute message delivery and dispatch fee
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/message-lane/rpc/Cargo.toml
  modules/message-lane/rpc/src/lib.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/weights_ext.rs
  primitives/message-lane/src/lib.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#668 Explain why we defer GRANDPA pre-commit signature verification
  primitives/header-chain/src/justification.rs
Labels: A-docs, PR-Merge at will when CI green

#673 Publish dependencies weekly instead of nightly
  .github/workflows/publish-deps.yml
Labels: P-Devops

#669 Migrate Finality Verifier Pallet to FRAME v2
  modules/finality-verifier/src/lib.rs
  modules/finality-verifier/src/mock.rs
Labels: A-feat, B-Substrate <> Substrate, P-Runtime

#677 Temporarily ignore RUSTSEC-2021-0013
  deny.toml
Labels: PR-Merge at will when CI green

#662 Update weight related parameters in relay
  Cargo.lock
  relays/substrate/Cargo.toml
  relays/substrate/src/messages_lane.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: P-Message Delivery, P-Relay, PR-Merge at will when CI green

#678 Clean up Substrate pallet init tests
  modules/substrate/src/lib.rs
Labels: B-Substrate <> Substrate

#664 Emit dispatch message when whole message (payload) has invalid encoding
  bin/runtime-common/src/messages.rs
  modules/call-dispatch/src/lib.rs
  primitives/message-dispatch/src/lib.rs
Labels: P-Message Delivery, P-Runtime

#667 Prevent potential signature reuse
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/call-dispatch/src/lib.rs
  relays/substrate/src/main.rs
Labels: A-bug, B-Substrate <> Substrate, P-Message Dispatch, PR-Merge at will when CI green

#660 Extract common part of relay loops
  Cargo.lock
  relays/ethereum-client/src/client.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/exchange-relay/src/exchange.rs
  relays/exchange-relay/src/exchange_loop.rs
  relays/exchange-relay/src/exchange_loop_metrics.rs
  relays/headers-relay/src/sync_loop.rs
  relays/headers-relay/src/sync_loop_metrics.rs
  relays/headers-relay/src/sync_loop_tests.rs
  relays/messages-relay/src/message_lane_loop.rs
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/headers_source.rs
  relays/substrate/src/headers_maintain.rs
  relays/substrate/src/headers_target.rs
  relays/substrate/src/messages_source.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
  relays/utils/Cargo.toml
  relays/utils/src/lib.rs
  relays/utils/src/metrics.rs
  relays/utils/src/relay_loop.rs
Labels: P-Relay

#663 Decode call after spec_version check
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/call-dispatch/src/lib.rs
  relays/substrate/src/main.rs
Labels: P-Message Delivery, P-Runtime

#682 Temporarily ignore RUSTSEC-2020-0123
  deny.toml
Labels: PR-Merge at will when CI green

#672 Add Unchecked Header Writes to Bridge Pallet
  modules/finality-verifier/src/lib.rs
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/verifier.rs
  primitives/header-chain/src/lib.rs
Labels: B-Substrate <> Substrate, P-Runtime

#686 Make Account Derivation More Unique
  bin/millau/node/src/chain_spec.rs
  bin/rialto/node/src/chain_spec.rs
  primitives/runtime/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Dispatch

#684 Bump Substrate Dependency
  Cargo.lock
  README.md
  bin/millau/node/Cargo.toml
  bin/millau/node/src/command.rs
  bin/millau/node/src/service.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/command.rs
  bin/rialto/node/src/service.rs
  modules/shift-session-manager/src/lib.rs
Labels: A-chores, B-Substrate <> Substrate

#675 Add proof-size related benchmarks to message lane module
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/src/messages_benchmarking.rs
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/weights.rs
Labels: P-Message Delivery, P-Relay
