Repository paritytech/parity-bridges-common, pull requests merged in 2021-02, with the labels that each got.

#689 Allow disabling the monitoring when starting a test network.
  .editorconfig
  deployments/monitoring/disabled.yml
  deployments/run.sh
Labels: P-Devops

#687 Pre-dispatch call filter
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/call-dispatch/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Dispatch, PR-Merge at will when CI green

#605 pause relays(s) when node is syncing
  Cargo.lock
  relays/ethereum-client/src/client.rs
  relays/ethereum-client/src/error.rs
  relays/ethereum-client/src/rpc.rs
  relays/ethereum-client/src/types.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/error.rs
  relays/substrate-client/src/headers_source.rs
  relays/substrate-client/src/rpc.rs
  relays/substrate/src/headers_target.rs
  relays/substrate/src/messages_source.rs
  relays/substrate/src/messages_target.rs
Labels: P-Relay

#697 Added PROJECT= prefix to deployment CLI example
  deployments/README.md
Labels: A-docs

#698 Add finality verifier test with different validator set id.
  modules/finality-verifier/src/lib.rs
Labels: B-Substrate <> Substrate

#699 Fixed call encoding in signature digest
  bin/runtime-common/src/messages.rs
  modules/call-dispatch/src/lib.rs
Labels: P-Message Dispatch, P-Runtime

#702 Add Logging to Finality Verifier Pallet
  modules/finality-verifier/src/lib.rs
Labels: B-Substrate <> Substrate

#711 Temporarily Ignore RUSTSEC-2021-0020
  Cargo.lock
  deny.toml
Labels: A-chores, PR-Merge at will when CI green

#712 Replace "Too many undelivered messages" alert with "Messages from ? to ? are not being delivered"
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/dashboards/relay-millau-to-rialto-messages-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/dashboards/relay-rialto-to-millau-messages-dashboard.json
Labels: B-Substrate <> Substrate, P-Message Delivery

#707 Stop Importing Full Header Chain
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/finality-verifier/Cargo.toml
  modules/finality-verifier/src/lib.rs
  modules/finality-verifier/src/mock.rs
  modules/substrate/src/lib.rs
  primitives/header-chain/src/lib.rs
Labels: A-feat, B-Substrate <> Substrate, P-Runtime

#713 Replace "Too many unconfirmed rewards" alert with "Rewards are not being confirmed" alert
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/dashboards/relay-millau-to-rialto-messages-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/dashboards/relay-rialto-to-millau-messages-dashboard.json
Labels: B-Substrate <> Substrate, P-Message Delivery

#679 Account proof size in weight formula
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  modules/message-lane/Cargo.toml
  modules/message-lane/README.md
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  modules/message-lane/src/weights.rs
  modules/message-lane/src/weights_ext.rs
  primitives/message-lane/Cargo.toml
  primitives/message-lane/src/source_chain.rs
  primitives/message-lane/src/target_chain.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  primitives/runtime/src/lib.rs
  relays/substrate-client/src/client.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/messages_source.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: P-Message Delivery, P-Runtime, PR-Merge at will when CI green, PR-needsaudit

#715 Limit number of pending messages at outbound lane
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/mock.rs
  modules/message-lane/src/outbound_lane.rs
  primitives/message-lane/src/source_chain.rs
Labels: B-Substrate <> Substrate, P-Runtime

#717 Fix max extrinsic weight in relay + logging
  relays/messages-relay/src/message_lane.rs
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_strategy.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#720 Finality Pallet Rate Limiter
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/finality-verifier/src/lib.rs
  modules/finality-verifier/src/mock.rs
Labels: A-feat, B-Substrate <> Substrate, P-Runtime, PR-Merge at will when CI green, PR-needsaudit

#718 Increase message fee call
  modules/message-lane/src/benchmarking.rs
  modules/message-lane/src/lib.rs
  modules/message-lane/src/weights.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#719 Keep multiple latest confirmed nonces at source in messages relay
  relays/messages-relay/src/message_race_delivery.rs
  relays/messages-relay/src/message_race_loop.rs
  relays/messages-relay/src/message_race_receiving.rs
  relays/messages-relay/src/message_race_strategy.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay, PR-maybeaudit

#727 Remove lower limit of messages weight
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, PR-maybeaudit

#729 Update rand_core:0.6.1 -> 0.6.2
  Cargo.lock
Labels: dependencies

#735 ForbidOutboundMessages and ForbidInboundMessages
  primitives/message-lane/src/source_chain.rs
  primitives/message-lane/src/target_chain.rs
  primitives/runtime/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#733 Fix updated clippy grumbles
  .github/workflows/rust.yml
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/call-dispatch/src/lib.rs
  modules/currency-exchange/src/lib.rs
  modules/ethereum-contract/builtin/src/lib.rs
  modules/ethereum/src/mock.rs
  modules/finality-verifier/src/mock.rs
  modules/message-lane/src/mock.rs
  modules/shift-session-manager/src/lib.rs
  modules/substrate/src/mock.rs
  primitives/header-chain/src/justification.rs
  relays/ethereum-client/src/error.rs
  relays/ethereum/src/main.rs
  relays/substrate-client/src/error.rs
Labels: PR-Merge at will when CI green

#740 Disable self-hosted runner and sccache
  .github/workflows/merged.yml
  .github/workflows/publish-deps.yml
  .github/workflows/publish-docker.yml
  .github/workflows/rust.yml
Labels: P-Devops

#742 Additional logging for message relays && Bob-nodes
  deployments/bridges/rialto-millau/docker-compose.yml
  deployments/networks/millau.yml
  deployments/networks/rialto.yml
Labels: A-chores

#743 updating paths to binaries
  .github/workflows/rust.yml
Labels: P-Devops

#700 Generate large messages
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
  relays/substrate/src/messages_lane.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, PR-Merge at will when CI green

#731 Verify ADDITIONAL_MESSAGE_BYTE_DELIVERY_WEIGHT constant value
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  modules/message-lane/src/weights_ext.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#736 Message lane integration documentation
  .github/workflows/deny.yml
  .github/workflows/lint.yml
  .github/workflows/publish-deps.yml
  .github/workflows/publish-docker.yml
  .github/workflows/rust.yml
  bin/runtime-common/README.md
  modules/call-dispatch/README.md
  modules/message-lane/README.md
Labels: A-docs, P-Message Delivery, P-Message Dispatch

#766 CI: self-host docker build
  .github/workflows/publish-deps.yml
  .github/workflows/publish-docker.yml
Labels: P-Devops

#765 Stop counting invalid requests towards rate limit
  modules/finality-verifier/src/lib.rs
Labels: A-bug, B-Substrate <> Substrate, P-Runtime

#755 Use No-Op Ancestry Checker
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/finality-verifier/src/lib.rs
  modules/substrate/src/lib.rs
  primitives/header-chain/src/lib.rs
Labels: B-Substrate <> Substrate, P-Runtime

#770 Bump Substrate and Deps
  Cargo.lock
  relays/ethereum/src/main.rs
Labels: A-chores, B-Substrate <> Substrate, dependencies
