Repository paritytech/parity-bridges-common, pull requests merged in 2021-07, with the labels that each got.

#1037 Fix empty metrics prefix
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/mod.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/chains/rococo_headers_to_wococo.rs
  relays/bin-substrate/src/chains/rococo_messages_to_wococo.rs
  relays/bin-substrate/src/chains/westend_headers_to_millau.rs
  relays/bin-substrate/src/chains/wococo_headers_to_rococo.rs
  relays/bin-substrate/src/chains/wococo_messages_to_rococo.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages.rs
  relays/bin-substrate/src/messages_lane.rs
Labels: B-Substrate <> Substrate, P-Relay

#1035 Use real conversion rate in greedy relayer strategy
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/chains/rococo_messages_to_wococo.rs
  relays/bin-substrate/src/chains/wococo_messages_to_rococo.rs
  relays/bin-substrate/src/messages_lane.rs
  relays/bin-substrate/src/messages_target.rs
  relays/messages/src/message_lane_loop.rs
  relays/messages/src/message_race_delivery.rs
  relays/utils/src/metrics/float_json_value.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1038 Give real value to Rialto and Millau tokens
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/mod.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
Labels: A-chores, B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1040 pre and post dispatch weights of OnDeliveryConfirmed callback
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/messages/README.md
  modules/messages/src/lib.rs
  modules/messages/src/mock.rs
  modules/messages/src/weights_ext.rs
  primitives/messages/src/lib.rs
  primitives/messages/src/source_chain.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Runtime, PR-needsaudit

#1045 Yrong README Fixup + M1 Fixes
  Cargo.lock
  README.md
Labels: A-docs

#1042 Cli option for greedy relayer + run no-losses relayer by default
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/chains/rococo_messages_to_wococo.rs
  relays/bin-substrate/src/chains/wococo_messages_to_rococo.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/bin-substrate/src/messages_lane.rs
  relays/bin-substrate/src/messages_target.rs
  relays/messages/src/message_lane.rs
  relays/messages/src/message_lane_loop.rs
  relays/messages/src/message_race_delivery.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1048 Bump Substrate dependencies
  Cargo.lock
  bin/millau/runtime/Cargo.toml
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/Cargo.toml
  fuzz/storage-proof/Cargo.toml
  modules/currency-exchange/Cargo.toml
  modules/dispatch/Cargo.toml
  modules/ethereum-contract-builtin/Cargo.toml
  modules/ethereum/Cargo.toml
  modules/grandpa/Cargo.toml
  modules/messages/Cargo.toml
  modules/shift-session-manager/Cargo.toml
  primitives/chain-millau/Cargo.toml
  primitives/chain-millau/src/millau_hash.rs
  primitives/chain-rococo/Cargo.toml
  primitives/chain-westend/Cargo.toml
  primitives/chain-wococo/Cargo.toml
  primitives/currency-exchange/Cargo.toml
  primitives/ethereum-poa/Cargo.toml
  primitives/header-chain/Cargo.toml
  primitives/message-dispatch/Cargo.toml
  primitives/messages/Cargo.toml
  primitives/polkadot-core/Cargo.toml
  primitives/runtime/Cargo.toml
  primitives/test-utils/Cargo.toml
  relays/bin-ethereum/Cargo.toml
  relays/bin-substrate/Cargo.toml
  relays/client-ethereum/Cargo.toml
  relays/client-kusama/Cargo.toml
  relays/client-millau/Cargo.toml
  relays/client-polkadot/Cargo.toml
  relays/client-rialto/Cargo.toml
  relays/client-rococo/Cargo.toml
  relays/client-substrate/Cargo.toml
  relays/client-westend/Cargo.toml
  relays/client-wococo/Cargo.toml
Labels: A-chores

#1043 Pay dispatch fee at target chain cli option
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
  relays/bin-substrate/src/chains/millau.rs
  relays/bin-substrate/src/chains/mod.rs
  relays/bin-substrate/src/chains/rialto.rs
  relays/bin-substrate/src/cli/send_message.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1044 Enable weight fee adjustment in Rialto/Millau chains
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Runtime

#1049 Update jsonrpsee reference
  Cargo.lock
  relays/bin-substrate/src/headers_initialize.rs
  relays/client-ethereum/Cargo.toml
  relays/client-ethereum/src/error.rs
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/error.rs
  relays/client-substrate/src/finality_source.rs
Labels: P-Relay, dependencies

#1059 Allow reading suri && password override from file
  Cargo.lock
  relays/bin-substrate/Cargo.toml
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/cli/send_message.rs
Labels: B-Substrate <> Substrate, P-Relay

#1050 Use BABE to author blocks on Rialto (previously: Aura)
  Cargo.lock
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/node/src/command.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  relays/bin-substrate/src/cli/encode_call.rs
  relays/bin-substrate/src/cli/send_message.rs
Labels: A-chores

#1061 Use tokio runtime to execute jsonrpsee futures
  Cargo.lock
  relays/bin-ethereum/src/rialto_client.rs
  relays/bin-substrate/src/cli/send_message.rs
  relays/bin-substrate/src/finality_target.rs
  relays/bin-substrate/src/headers_initialize.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/client-ethereum/Cargo.toml
  relays/client-ethereum/src/client.rs
  relays/client-ethereum/src/error.rs
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/error.rs
  relays/client-substrate/src/finality_source.rs
Labels: B-PoA <> Substrate, B-Substrate <> Substrate, P-Relay

#1065 When restarting client, also "restart" tokio runtime
  relays/client-ethereum/src/client.rs
  relays/client-substrate/src/client.rs
Labels: B-Substrate <> Substrate, P-Relay

#1064 Fix Westend -> Millau sync
  relays/client-substrate/src/client.rs
  relays/finality/src/finality_loop.rs
Labels: B-Substrate <> Substrate, P-Relay

#1062 Refund weight for not pruning messages
  modules/messages/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Runtime

#1070 Extract message_details impl into runtime common
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/src/lib.rs
  bin/runtime-common/src/messages_api.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#1069 Improve traces of message generator scripts
  deployments/bridges/rialto-millau/docker-compose.yml
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
Labels: A-chores

#1074 Enable block authorship tracing for Millau nodes
  deployments/networks/millau.yml
Labels: A-chores

#1066 Weight of `increase_message_fee` call depends on stored message size
  modules/messages/src/benchmarking.rs
  modules/messages/src/lib.rs
  modules/messages/src/mock.rs
  modules/messages/src/weights.rs
Labels: P-Message Delivery, P-Runtime

#1071 Merge two weight-related loops in messages pallet
  modules/messages/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Runtime, PR-needsaudit

#1075 Fixed wrong trace
  modules/dispatch/src/lib.rs
Labels: P-Message Dispatch, P-Runtime
