Repository paritytech/parity-bridges-common, pull requests merged in 2021-03, with the labels that each got.

#764 Add few CLI helpers
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
Labels: P-Relay

#716 Add a fuzzer for storage proofs
  .gitignore
  Cargo.lock
  Cargo.toml
  fuzz/storage-proof/Cargo.lock
  fuzz/storage-proof/Cargo.toml
  fuzz/storage-proof/README.md
  fuzz/storage-proof/src/main.rs
Labels: A-feat

#782 Stop CI from failing with new security advisories
  .github/workflows/deny.yml
Labels: P-Devops

#778 Add node-inspect to ignored deps.
  .dependabot/config.yml
Labels: A-chores, dependencies

#780 Add Bridge calls encoding to relay CLI
  relays/substrate/src/cli.rs
  relays/substrate/src/main.rs
Labels: P-Relay

#786 Update Substrate Node build script
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/build.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/build.rs
Labels: A-chores, dependencies

#758 Generate large messages from deployment scripts
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
Labels: A-chores, B-Substrate <> Substrate, P-Message Delivery

#792 Stop running CI when Markdown files are changed
  .github/workflows/deny.yml
  .github/workflows/lint.yml
  .github/workflows/publish-deps.yml
  .github/workflows/publish-docker.yml
  .github/workflows/rust.yml
Labels: A-chores, P-Devops

#783 Unify Substrate Bridge Pallet with Finality Verifier
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/finality-verifier/Cargo.toml
  modules/finality-verifier/src/lib.rs
  modules/finality-verifier/src/mock.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
Labels: B-Substrate <> Substrate, P-Runtime, PR-needsaudit

#787 Migrate to jsonrpsee v2
  Cargo.lock
  deployments/bridges/poa-rialto/entrypoints/poa-exchange-tx-generator-entrypoint.sh
  relays/ethereum-client/Cargo.toml
  relays/ethereum-client/src/client.rs
  relays/ethereum-client/src/error.rs
  relays/ethereum-client/src/lib.rs
  relays/ethereum-client/src/rpc.rs
  relays/ethereum/src/cli.yml
  relays/ethereum/src/ethereum_deploy_contract.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_exchange_submit.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/chain.rs
  relays/substrate-client/src/client.rs
  relays/substrate-client/src/error.rs
  relays/substrate-client/src/rpc.rs
  relays/substrate/src/headers_maintain.rs
  relays/substrate/src/headers_pipeline.rs
Labels: A-chores, P-Relay

#790 Adding message relayer scripts, reformating send message scripts
  README.md
  deployments/local-scripts/relay-messages-millau-to-rialto.sh
  deployments/local-scripts/relay-messages-rialto-to-millau.sh
  deployments/local-scripts/relay-millau-to-rialto.sh
  deployments/local-scripts/relay-rialto-to-millau.sh
  deployments/local-scripts/run-millau-node.sh
  deployments/local-scripts/run-rialto-node.sh
  scripts/send-message-from-millau-rialto.sh
  scripts/send-message-from-rialto-millau.sh
Labels: A-docs

#761 Relay Millau && Rialto headers using (future) finality verifier API
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/verifier.rs
  primitives/header-chain/src/lib.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/finality-relay/Cargo.toml
  relays/finality-relay/src/finality_loop.rs
  relays/finality-relay/src/finality_loop_tests.rs
  relays/finality-relay/src/lib.rs
  relays/headers-relay/src/sync_loop_metrics.rs
  relays/substrate-client/Cargo.toml
  relays/substrate-client/src/chain.rs
  relays/substrate-client/src/finality_source.rs
  relays/substrate-client/src/guard.rs
  relays/substrate-client/src/lib.rs
  relays/substrate-client/src/sync_header.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/finality_pipeline.rs
  relays/substrate/src/finality_target.rs
  relays/substrate/src/headers_initialize.rs
  relays/substrate/src/headers_maintain.rs
  relays/substrate/src/headers_pipeline.rs
  relays/substrate/src/headers_target.rs
  relays/substrate/src/main.rs
  relays/substrate/src/messages_target.rs
  relays/substrate/src/millau_headers_to_rialto.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_headers_to_millau.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Relay

#796 Bump Substrate
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/exchange.rs
  bin/rialto/runtime/src/lib.rs
  modules/call-dispatch/Cargo.toml
  modules/call-dispatch/src/lib.rs
  modules/currency-exchange/Cargo.toml
  modules/currency-exchange/src/lib.rs
  modules/ethereum/Cargo.toml
  modules/ethereum/src/lib.rs
  modules/ethereum/src/verification.rs
  modules/finality-verifier/Cargo.toml
  modules/finality-verifier/src/lib.rs
  modules/message-lane/Cargo.toml
  modules/message-lane/src/instant_payments.rs
  modules/message-lane/src/lib.rs
  modules/substrate/Cargo.toml
  modules/substrate/src/lib.rs
  modules/substrate/src/verifier.rs
Labels: A-chores, P-Runtime

#795 Changed delivery and dispatch fee computation methods
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/README.md
  bin/runtime-common/src/messages.rs
  modules/message-lane/src/weights_ext.rs
  primitives/millau/src/lib.rs
  primitives/rialto/src/lib.rs
  relays/ethereum/src/rialto_client.rs
  relays/millau-client/src/lib.rs
  relays/rialto-client/src/lib.rs
  relays/substrate-client/src/chain.rs
  relays/substrate/Cargo.toml
  relays/substrate/src/main.rs
  relays/substrate/src/millau_headers_to_rialto.rs
  relays/substrate/src/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_headers_to_millau.rs
  relays/substrate/src/rialto_messages_to_millau.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, PR-needsaudit

#803 Stop ignoring RUSTSEC-2020-0123
  deny.toml
Labels: dependencies

#802 Use globs for workspace members.
  Cargo.toml
  modules/ethereum-contract-builtin/Cargo.toml
  modules/ethereum-contract-builtin/src/lib.rs
Labels: A-chores

#779 Overhaul releasing process
  .github/workflows/lint.yml
  .github/workflows/publish-deps.yml
  .github/workflows/publish-docker.yml
  .github/workflows/rust.yml
  Dockerfile
  deployments/BridgeDeps.Dockerfile
Labels: P-Devops

#793 Move Storage Parser from Bridge Pallet
  Cargo.lock
  bin/runtime-common/Cargo.toml
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  fuzz/storage-proof/src/main.rs
  modules/finality-verifier/Cargo.toml
  modules/finality-verifier/src/lib.rs
  modules/substrate/src/lib.rs
  primitives/runtime/Cargo.toml
  primitives/runtime/src/lib.rs
  primitives/runtime/src/storage_proof.rs
Labels: B-Substrate <> Substrate, P-Runtime

#807 Change example to emphasize it's sample data.
  deployments/monitoring/grafana-matrix/config.yml
Labels: A-docs

#706 Adding a draft of specific types for Rialto & Millau chains
  deployments/types-millau.json
  deployments/types-rialto.json
  deployments/types.json
  deployments/types/build.sh
  deployments/types/common.json
  deployments/types/millau.json
  deployments/types/rialto.json
Labels: A-feat, B-Substrate <> Substrate, P-User Interface

#811 Log runtime logs from `pallet-finality-verifier`
  deployments/networks/millau.yml
  deployments/networks/rialto.yml
Labels: P-Devops, PR-Merge at will when CI green

#810 Simplify operational extrinsics
  modules/finality-verifier/src/lib.rs
  modules/message-lane/src/lib.rs
Labels: B-Substrate <> Substrate, P-Runtime

#804 Clean Finality Verifier Pallet
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/finality-verifier/src/lib.rs
  modules/finality-verifier/src/mock.rs
  primitives/header-chain/src/lib.rs
  relays/substrate/src/millau_headers_to_rialto.rs
  relays/substrate/src/rialto_headers_to_millau.rs
Labels: A-chores, B-Substrate <> Substrate, P-Runtime

#816 More tests for finality relay
  relays/finality-relay/src/finality_loop.rs
  relays/finality-relay/src/finality_loop_tests.rs
  relays/finality-relay/src/lib.rs
  relays/substrate-client/src/finality_source.rs
  relays/substrate/src/finality_pipeline.rs
  relays/substrate/src/millau_headers_to_rialto.rs
  relays/substrate/src/rialto_headers_to_millau.rs
Labels: B-Substrate <> Substrate, P-Relay

#822 Added some ML-related constants for polkadot-like chains
  primitives/polkadot-core/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#825 Make finality verifier pallet instantiable
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/src/messages_benchmarking.rs
  modules/finality-verifier/src/lib.rs
  modules/finality-verifier/src/mock.rs
Labels: B-Substrate <> Substrate, P-Runtime

#827 Don't build docker deps on self-hosted.
  .github/workflows/publish-deps.yml
Labels: P-Devops

#828 Update jsonrpsee reference
  Cargo.lock
  relays/clients/ethereum/Cargo.toml
  relays/clients/ethereum/src/rpc.rs
  relays/clients/substrate/Cargo.toml
  relays/clients/substrate/src/client.rs
  relays/clients/substrate/src/rpc.rs
Labels: A-chores

#829 Await finality loops from main relay function
  relays/clients/substrate/src/finality_source.rs
  relays/ethereum/src/ethereum_deploy_contract.rs
  relays/ethereum/src/ethereum_exchange.rs
  relays/ethereum/src/ethereum_exchange_submit.rs
  relays/ethereum/src/ethereum_sync_loop.rs
  relays/ethereum/src/main.rs
  relays/ethereum/src/substrate_sync_loop.rs
  relays/generic/exchange/src/exchange_loop.rs
  relays/generic/finality/src/finality_loop.rs
  relays/generic/headers/src/sync_loop.rs
  relays/generic/messages/src/message_lane_loop.rs
  relays/generic/utils/src/relay_loop.rs
  relays/substrate/src/finality_pipeline.rs
  relays/substrate/src/rialto_millau/millau_messages_to_rialto.rs
  relays/substrate/src/rialto_millau/mod.rs
  relays/substrate/src/rialto_millau/rialto_messages_to_millau.rs
Labels: P-Relay

#830 Add multiplier parameter to transaction_payment function
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
Labels: P-Message Delivery, P-Runtime

#835 Tunable Justification Generator
  modules/finality-verifier/src/lib.rs
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/verifier.rs
  primitives/header-chain/tests/justification.rs
  primitives/test-utils/src/lib.rs
Labels: B-Substrate <> Substrate

#831 Westend->Millau headers relay in deployments
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/src/lib.rs
  deployments/README.md
  deployments/bridges/poa-rialto/dashboard/grafana/relay-poa-to-rialto-exchange-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/relay-poa-to-rialto-headers-dashboard.json
  deployments/bridges/poa-rialto/dashboard/grafana/relay-rialto-to-poa-headers-dashboard.json
  deployments/bridges/poa-rialto/dashboard/prometheus/prometheus.yml
  deployments/bridges/poa-rialto/dashboard/prometheus/targets.yml
  deployments/bridges/poa-rialto/docker-compose.yml
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/dashboards/grafana-dashboard.yaml
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/datasources/grafana-datasource.yaml
  deployments/bridges/rialto-millau/dashboard/grafana/provisioning/notifiers/grafana-notifier.yaml
  deployments/bridges/rialto-millau/dashboard/grafana/relay-millau-to-rialto-headers-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/relay-millau-to-rialto-messages-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/relay-rialto-to-millau-headers-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/relay-rialto-to-millau-messages-dashboard.json
  deployments/bridges/rialto-millau/dashboard/prometheus/prometheus.yml
  deployments/bridges/rialto-millau/dashboard/prometheus/targets.yml
  deployments/bridges/rialto-millau/docker-compose.yml
  deployments/bridges/westend-millau/dashboard/grafana/relay-westend-to-millau-headers-dashboard.json
  deployments/bridges/westend-millau/dashboard/prometheus/targets.yml
  deployments/bridges/westend-millau/docker-compose.yml
  deployments/bridges/westend-millau/entrypoints/relay-headers-westend-to-millau-entrypoint.sh
  deployments/monitoring/docker-compose.yml
  deployments/monitoring/grafana/provisioning/dashboards/grafana-dashboard.yaml
  deployments/monitoring/grafana/provisioning/datasources/grafana-datasource.yaml
  deployments/monitoring/grafana/provisioning/notifiers/grafana-notifier.yaml
  deployments/monitoring/prometheus/prometheus.yml
  deployments/run.sh
  modules/finality-verifier/src/lib.rs
  relays/substrate/src/rialto_millau/mod.rs
Labels: A-chores, B-Substrate <> Substrate

#838 Rename Finality Verifier and Call Dispatch Pallets
  Cargo.lock
  README.md
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/Cargo.toml
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/Cargo.toml
  bin/runtime-common/README.md
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  deployments/networks/millau.yml
  deployments/networks/rialto.yml
  docs/high-level-overview.md
  modules/dispatch/Cargo.toml
  modules/dispatch/README.md
  modules/dispatch/src/lib.rs
  modules/grandpa/Cargo.toml
  modules/grandpa/src/lib.rs
  modules/grandpa/src/mock.rs
  primitives/runtime/src/lib.rs
  relays/bin-substrate/Cargo.toml
  relays/bin-substrate/src/headers_initialize.rs
  relays/bin-substrate/src/rialto_millau/millau_headers_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/mod.rs
  relays/bin-substrate/src/rialto_millau/rialto_headers_to_millau.rs
  relays/bin-substrate/src/rialto_millau/westend_headers_to_millau.rs
Labels: A-chores, B-Substrate <> Substrate, P-Runtime

#840 Changed how relay loops are started
  relays/bin-ethereum/src/ethereum_exchange.rs
  relays/bin-ethereum/src/ethereum_sync_loop.rs
  relays/bin-ethereum/src/rpc_errors.rs
  relays/bin-ethereum/src/substrate_sync_loop.rs
  relays/bin-substrate/src/finality_pipeline.rs
  relays/bin-substrate/src/rialto_millau/millau_headers_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/millau_messages_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/mod.rs
  relays/bin-substrate/src/rialto_millau/rialto_headers_to_millau.rs
  relays/bin-substrate/src/rialto_millau/rialto_messages_to_millau.rs
  relays/bin-substrate/src/rialto_millau/westend_headers_to_millau.rs
  relays/exchange/src/exchange_loop.rs
  relays/finality/src/finality_loop.rs
  relays/finality/src/finality_loop_tests.rs
  relays/headers/src/sync_loop.rs
  relays/headers/src/sync_loop_tests.rs
  relays/messages/src/message_lane_loop.rs
  relays/utils/src/lib.rs
  relays/utils/src/metrics.rs
  relays/utils/src/metrics/global.rs
  relays/utils/src/relay_loop.rs
Labels: P-Relay

#842 Larger Test Keyring Support
  modules/grandpa/src/lib.rs
  modules/substrate/src/fork_tests.rs
  modules/substrate/src/lib.rs
  modules/substrate/src/verifier.rs
  primitives/header-chain/tests/justification.rs
  primitives/test-utils/src/keyring.rs
  primitives/test-utils/src/lib.rs
Labels: B-Substrate <> Substrate

#833 on-demand headers relay
  relays/bin-ethereum/src/rialto_client.rs
  relays/bin-substrate/src/finality_pipeline.rs
  relays/bin-substrate/src/finality_target.rs
  relays/bin-substrate/src/headers_initialize.rs
  relays/bin-substrate/src/messages_lane.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/bin-substrate/src/rialto_millau/millau_headers_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/millau_messages_to_rialto.rs
  relays/bin-substrate/src/rialto_millau/mod.rs
  relays/bin-substrate/src/rialto_millau/rialto_headers_to_millau.rs
  relays/bin-substrate/src/rialto_millau/rialto_messages_to_millau.rs
  relays/bin-substrate/src/rialto_millau/westend_headers_to_millau.rs
  relays/client-substrate/src/client.rs
  relays/messages/src/message_lane_loop.rs
  relays/messages/src/message_race_delivery.rs
  relays/messages/src/message_race_loop.rs
  relays/messages/src/message_race_receiving.rs
Labels: B-Substrate <> Substrate, P-Relay

#850 Fix delay in `message_lane_loop_is_able_to_recover_from_connection_errors`
  relays/messages/src/message_lane_loop.rs
  relays/utils/src/relay_loop.rs
Labels: P-Relay
