Repository paritytech/parity-bridges-common, pull requests merged in 2021-06, with the labels that each got.

#982 Flag for rejecting all outbound messages
  Cargo.lock
  modules/messages/src/lib.rs
  primitives/messages/Cargo.toml
  primitives/messages/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Runtime

#981 Update submit finality proof weight formula
  modules/grandpa/src/benchmarking.rs
  modules/grandpa/src/lib.rs
  modules/grandpa/src/weights.rs
  modules/messages/src/weights.rs
  primitives/header-chain/tests/justification.rs
  primitives/test-utils/Cargo.toml
  primitives/test-utils/src/keyring.rs
  primitives/test-utils/src/lib.rs
  relays/bin-substrate/src/messages_lane.rs
Labels: B-Substrate <> Substrate, P-Runtime, PR-needsaudit

#986 Bump Substrate
  Cargo.lock
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/lib.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/lib.rs
  modules/messages/src/mock.rs
  primitives/chain-millau/Cargo.toml
  primitives/chain-millau/src/millau_hash.rs
Labels: dependencies

#993 Fix clippy in test code
  bin/runtime-common/src/messages.rs
  modules/ethereum/src/test_utils.rs
  modules/ethereum/src/verification.rs
Labels: A-chores

#989 Increase pause before starting relays (again)
  deployments/bridges/poa-rialto/entrypoints/relay-headers-poa-to-rialto-entrypoint.sh
  deployments/bridges/poa-rialto/entrypoints/relay-headers-rialto-to-poa-entrypoint.sh
  deployments/bridges/poa-rialto/entrypoints/relay-poa-exchange-rialto-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-millau-to-rialto-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-rialto-to-millau-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-millau-rialto-entrypoint.sh
  deployments/bridges/westend-millau/entrypoints/relay-headers-westend-to-millau-entrypoint.sh
Labels: A-chores

#990 Move ChainWithBalances::NativeBalance -> Chain::Balance
  relays/bin-substrate/src/cli/estimate_fee.rs
  relays/bin-substrate/src/cli/send_message.rs
  relays/client-kusama/src/lib.rs
  relays/client-millau/src/lib.rs
  relays/client-polkadot/src/lib.rs
  relays/client-rialto/src/lib.rs
  relays/client-rococo/src/lib.rs
  relays/client-substrate/src/chain.rs
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/guard.rs
  relays/client-westend/src/lib.rs
  relays/client-wococo/src/lib.rs
Labels: P-Relay

#999 Bump Rococo and Wococo spec versions
  primitives/chain-rococo/src/lib.rs
  primitives/chain-wococo/src/lib.rs
Labels: P-Relay

#996 Rename messages_dispatch_weight -> message_details
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/messages/src/lib.rs
  primitives/chain-kusama/src/lib.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-polkadot/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  primitives/chain-rococo/src/lib.rs
  primitives/chain-westend/src/lib.rs
  primitives/chain-wococo/src/lib.rs
  primitives/messages/src/lib.rs
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/messages_lane.rs
  relays/bin-substrate/src/messages_source.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, PR-breaksrelay

#998 Rococo <> Wococo relayer balance guard
  Cargo.lock
  primitives/chain-rococo/Cargo.toml
  primitives/chain-rococo/src/lib.rs
  primitives/chain-wococo/Cargo.toml
  primitives/chain-wococo/src/lib.rs
  primitives/polkadot-core/src/lib.rs
  relays/bin-substrate/Cargo.toml
  relays/bin-substrate/src/chains/rococo_headers_to_wococo.rs
  relays/bin-substrate/src/chains/wococo_headers_to_rococo.rs
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/finality_pipeline.rs
Labels: B-Substrate <> Substrate, P-Relay

#995 Messages relayer operating mode
  Cargo.lock
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/messages_lane.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/client-substrate/src/chain.rs
  relays/messages/Cargo.toml
  relays/messages/src/message_lane.rs
  relays/messages/src/message_lane_loop.rs
  relays/messages/src/message_race_delivery.rs
  relays/messages/src/message_race_loop.rs
  relays/messages/src/message_race_strategy.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1004 --only-mandatory-headers mode for header relay
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/finality_pipeline.rs
  relays/bin-substrate/src/on_demand_headers.rs
  relays/client-substrate/src/finality_source.rs
  relays/finality/src/finality_loop.rs
  relays/finality/src/finality_loop_tests.rs
Labels: B-Substrate <> Substrate, P-Relay

#1006 Bump Substrate to `286d7ce`
  Cargo.lock
  bin/millau/node/src/chain_spec.rs
  bin/millau/node/src/service.rs
  bin/millau/runtime/src/lib.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/rialto_poa.rs
  modules/dispatch/src/lib.rs
  modules/messages/src/lib.rs
  relays/bin-ethereum/src/instances.rs
Labels: A-chores, dependencies

#911 pay dispatch fee at target chain
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/Cargo.toml
  bin/runtime-common/README.md
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  modules/dispatch/README.md
  modules/dispatch/src/lib.rs
  modules/messages/Cargo.toml
  modules/messages/README.md
  modules/messages/src/benchmarking.rs
  modules/messages/src/inbound_lane.rs
  modules/messages/src/lib.rs
  modules/messages/src/mock.rs
  modules/messages/src/weights.rs
  modules/messages/src/weights_ext.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  primitives/message-dispatch/src/lib.rs
  primitives/messages/src/target_chain.rs
  primitives/runtime/src/lib.rs
  primitives/runtime/src/messages.rs
  relays/bin-substrate/src/cli/encode_message.rs
  relays/bin-substrate/src/cli/send_message.rs
  relays/bin-substrate/src/messages_lane.rs
Labels: B-Substrate <> Substrate, P-Message Dispatch, PR-needsaudit

#1010 Use plain source_queue view when selecting nonces for delivery
  relays/messages/src/message_race_delivery.rs
  relays/messages/src/message_race_strategy.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#935 Relay basic single-bit message dispatch results back to the source chain
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  modules/dispatch/src/lib.rs
  modules/messages/Cargo.toml
  modules/messages/README.md
  modules/messages/src/benchmarking.rs
  modules/messages/src/inbound_lane.rs
  modules/messages/src/lib.rs
  modules/messages/src/mock.rs
  modules/messages/src/outbound_lane.rs
  modules/messages/src/weights.rs
  primitives/messages/Cargo.toml
  primitives/messages/src/lib.rs
  primitives/messages/src/source_chain.rs
  primitives/messages/src/target_chain.rs
  primitives/runtime/src/messages.rs
  relays/bin-substrate/src/messages_lane.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Message Dispatch, PR-needsaudit

#1014 Return dispatch_fee_payment from message details RPC
  bin/millau/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  modules/messages/src/benchmarking.rs
  primitives/message-dispatch/src/lib.rs
  primitives/messages/src/lib.rs
  relays/bin-substrate/src/messages_source.rs
Labels: B-Substrate <> Substrate, P-Message Delivery

#1016 Greedy relayer don't need message dispatch to be prepaid if it is paid at the target chain
  Cargo.lock
  primitives/runtime/src/messages.rs
  relays/bin-substrate/src/messages_source.rs
  relays/messages/Cargo.toml
  relays/messages/src/message_lane_loop.rs
  relays/messages/src/message_race_delivery.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1020 Fix insufficient balance when send message.
  README.md
  bin/millau/node/src/chain_spec.rs
  bin/rialto/node/src/chain_spec.rs
  modules/dispatch/src/lib.rs
Labels: A-bug, B-Substrate <> Substrate

#1018 Make target signer optional when sending message.
  relays/bin-substrate/src/cli/send_message.rs
Labels: B-Substrate <> Substrate

#1029 Update the wasm builder to substrate master
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/service.rs
  bin/millau/runtime/Cargo.toml
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/service.rs
  bin/rialto/runtime/Cargo.toml
  modules/dispatch/src/lib.rs
  relays/bin-substrate/src/cli/encode_message.rs
  relays/bin-substrate/src/cli/send_message.rs
Labels: A-chores, dependencies

#1030 Rococo <> Wococo messages relay
  Cargo.lock
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  modules/messages/src/lib.rs
  primitives/chain-rococo/Cargo.toml
  primitives/chain-rococo/src/lib.rs
  primitives/chain-wococo/Cargo.toml
  primitives/chain-wococo/src/lib.rs
  primitives/messages/src/lib.rs
  relays/bin-substrate/src/chains/millau.rs
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/mod.rs
  relays/bin-substrate/src/chains/rialto.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/chains/rococo.rs
  relays/bin-substrate/src/chains/rococo_headers_to_wococo.rs
  relays/bin-substrate/src/chains/rococo_messages_to_wococo.rs
  relays/bin-substrate/src/chains/wococo.rs
  relays/bin-substrate/src/chains/wococo_headers_to_rococo.rs
  relays/bin-substrate/src/chains/wococo_messages_to_rococo.rs
  relays/bin-substrate/src/cli/bridge.rs
  relays/bin-substrate/src/cli/encode_call.rs
  relays/bin-substrate/src/cli/init_bridge.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages.rs
  relays/bin-substrate/src/cli/send_message.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/client-rococo/Cargo.toml
  relays/client-rococo/src/lib.rs
  relays/client-rococo/src/runtime.rs
  relays/client-wococo/Cargo.toml
  relays/client-wococo/src/lib.rs
  relays/client-wococo/src/runtime.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1032 Increase Westend -> Millau alert period from 2m to 10m
  deployments/bridges/westend-millau/dashboard/grafana/relay-westend-to-millau-headers-dashboard.json
Labels: A-chores

#1015 Estimate transaction fee RPC call + estimate message delivery and confirmation transactions
  Cargo.lock
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/chains/rococo_messages_to_wococo.rs
  relays/bin-substrate/src/chains/wococo_messages_to_rococo.rs
  relays/bin-substrate/src/messages_source.rs
  relays/bin-substrate/src/messages_target.rs
  relays/client-kusama/src/lib.rs
  relays/client-millau/Cargo.toml
  relays/client-millau/src/lib.rs
  relays/client-polkadot/src/lib.rs
  relays/client-rialto/Cargo.toml
  relays/client-rialto/src/lib.rs
  relays/client-rococo/src/lib.rs
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/chain.rs
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/guard.rs
  relays/client-substrate/src/rpc.rs
  relays/client-westend/src/lib.rs
  relays/client-wococo/src/lib.rs
Labels: B-Substrate <> Substrate, P-Message Delivery, P-Relay

#1034 Shared reference to conversion rate metric value
  Cargo.lock
  relays/bin-ethereum/Cargo.toml
  relays/bin-ethereum/src/ethereum_exchange.rs
  relays/bin-ethereum/src/ethereum_sync_loop.rs
  relays/bin-ethereum/src/substrate_sync_loop.rs
  relays/bin-substrate/src/chains/millau_messages_to_rialto.rs
  relays/bin-substrate/src/chains/mod.rs
  relays/bin-substrate/src/chains/rialto_messages_to_millau.rs
  relays/bin-substrate/src/chains/rococo_messages_to_wococo.rs
  relays/bin-substrate/src/chains/wococo_messages_to_rococo.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages.rs
  relays/bin-substrate/src/messages_lane.rs
  relays/exchange/Cargo.toml
  relays/exchange/src/exchange_loop.rs
  relays/finality/Cargo.toml
  relays/finality/src/finality_loop.rs
  relays/headers/Cargo.toml
  relays/headers/src/sync_loop.rs
  relays/messages/Cargo.toml
  relays/messages/src/message_lane_loop.rs
  relays/utils/Cargo.toml
  relays/utils/src/metrics.rs
  relays/utils/src/metrics/float_json_value.rs
  relays/utils/src/relay_loop.rs
Labels: B-Substrate <> Substrate, P-Relay

#1036 Use kebab-case for bridge arguments
  Cargo.lock
  README.md
  deployments/README.md
  deployments/bridges/rialto-millau/entrypoints/relay-messages-millau-to-rialto-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-rialto-to-millau-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-to-rialto-generator-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-millau-rialto-entrypoint.sh
  deployments/bridges/westend-millau/entrypoints/relay-headers-westend-to-millau-entrypoint.sh
  deployments/local-scripts/relay-headers-rococo-to-wococo.sh
  deployments/local-scripts/relay-headers-wococo-to-rococo.sh
  deployments/local-scripts/relay-messages-millau-to-rialto.sh
  deployments/local-scripts/relay-messages-rialto-to-millau.sh
  deployments/local-scripts/relay-millau-to-rialto.sh
  deployments/local-scripts/relay-rialto-to-millau.sh
  docs/send-message.md
  relays/bin-substrate/Cargo.toml
  relays/bin-substrate/src/cli/bridge.rs
  relays/bin-substrate/src/cli/derive_account.rs
  relays/bin-substrate/src/cli/encode_call.rs
  relays/bin-substrate/src/cli/encode_message.rs
  relays/bin-substrate/src/cli/estimate_fee.rs
  relays/bin-substrate/src/cli/init_bridge.rs
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/bin-substrate/src/cli/send_message.rs
  scripts/send-message-from-millau-rialto.sh
  scripts/send-message-from-rialto-millau.sh
Labels: P-Relay
