Repository paritytech/parity-bridges-common, pull requests merged in 2023-05, with the labels that each got.

#2096 Add integrity tests to rialto parachain runtiime
  Cargo.lock
  bin/rialto-parachain/runtime/Cargo.toml
  bin/rialto-parachain/runtime/src/millau_messages.rs
Labels: A-chores

#2099 Fix pallet param for nightly benchmarks check
  .gitlab-ci.yml
Labels: A-chores

#2089 Add weight of refund extension post_dispatch to the weights of messages pallet
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/millau/runtime/src/rialto_parachain_messages.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/integrity.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  modules/messages/src/weights_ext.rs
  modules/relayers/src/benchmarking.rs
  modules/relayers/src/lib.rs
  modules/relayers/src/weights.rs
  modules/relayers/src/weights_ext.rs
Labels: A-chores, P-Runtime, PR-audit-maybe

#2121 Temporarily remove balance guard
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/guard.rs
  relays/lib-substrate-relay/src/finality/guards.rs
  relays/lib-substrate-relay/src/finality/mod.rs
Labels: P-Relay

#2138 Fix nodes startup
  README.md
  deployments/local-scripts/run-millau-node.sh
  deployments/local-scripts/run-rialto-node.sh
  deployments/local-scripts/run-westend-node.sh
  deployments/networks/millau.yml
  deployments/networks/rialto-parachain.yml
  deployments/networks/rialto.yml
Labels: A-chores

#2140 Ws-port argument has been repalced with rpc-port
  Cargo.lock
  bin/rialto-parachain/node/src/service.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/parachains.rs
  deployments/local-scripts/run-millau-node.sh
  deployments/local-scripts/run-rialto-node.sh
  deployments/local-scripts/run-westend-node.sh
  deployments/networks/rialto-parachain.yml
Labels: A-chores

#2129 Traitify Substrate client
  Cargo.lock
  modules/relayers/src/lib.rs
  primitives/relayers/src/lib.rs
  primitives/runtime/src/lib.rs
  relays/bin-substrate/src/bridges/kusama_polkadot/kusama_headers_to_bridge_hub_polkadot.rs
  relays/bin-substrate/src/bridges/kusama_polkadot/polkadot_headers_to_bridge_hub_kusama.rs
  relays/bin-substrate/src/bridges/rococo_wococo/rococo_headers_to_bridge_hub_wococo.rs
  relays/bin-substrate/src/bridges/rococo_wococo/wococo_headers_to_bridge_hub_rococo.rs
  relays/bin-substrate/src/cli/chain_schema.rs
  relays/bin-substrate/src/cli/register_parachain.rs
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/parachain_to_parachain.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/relay_to_parachain.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/relay_to_relay.rs
  relays/bin-substrate/src/cli/resubmit_transactions.rs
  relays/bin-substrate/src/cli/send_message.rs
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/chain.rs
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/client/caching.rs
  relays/client-substrate/src/client/client.rs
  relays/client-substrate/src/client/mod.rs
  relays/client-substrate/src/client/rpc.rs
  relays/client-substrate/src/client/rpc_api.rs
  relays/client-substrate/src/client/subscription.rs
  relays/client-substrate/src/error.rs
  relays/client-substrate/src/lib.rs
  relays/client-substrate/src/metrics/float_storage_value.rs
  relays/client-substrate/src/transaction_tracker.rs
  relays/lib-substrate-relay/src/finality/engine.rs
  relays/lib-substrate-relay/src/finality/initialize.rs
  relays/lib-substrate-relay/src/finality/source.rs
  relays/lib-substrate-relay/src/finality/target.rs
  relays/lib-substrate-relay/src/messages_lane.rs
  relays/lib-substrate-relay/src/messages_metrics.rs
  relays/lib-substrate-relay/src/messages_source.rs
  relays/lib-substrate-relay/src/messages_target.rs
  relays/lib-substrate-relay/src/on_demand/headers.rs
  relays/lib-substrate-relay/src/on_demand/parachains.rs
  relays/lib-substrate-relay/src/parachains/source.rs
  relays/lib-substrate-relay/src/parachains/target.rs
Labels: P-Relay

#2135 Make client code generic over Client type
  relays/bin-substrate/src/bridges/kusama_polkadot/kusama_headers_to_bridge_hub_polkadot.rs
  relays/bin-substrate/src/bridges/kusama_polkadot/polkadot_headers_to_bridge_hub_kusama.rs
  relays/bin-substrate/src/bridges/rococo_wococo/rococo_headers_to_bridge_hub_wococo.rs
  relays/bin-substrate/src/bridges/rococo_wococo/wococo_headers_to_bridge_hub_rococo.rs
  relays/bin-substrate/src/cli/chain_schema.rs
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/cli/register_parachain.rs
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/mod.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/parachain_to_parachain.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/relay_to_parachain.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/relay_to_relay.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/bin-substrate/src/cli/relay_parachains.rs
  relays/bin-substrate/src/cli/resubmit_transactions.rs
  relays/bin-substrate/src/cli/send_message.rs
  relays/client-substrate/src/guard.rs
  relays/client-substrate/src/lib.rs
  relays/client-substrate/src/metrics/float_storage_value.rs
  relays/lib-substrate-relay/src/finality/engine.rs
  relays/lib-substrate-relay/src/finality/initialize.rs
  relays/lib-substrate-relay/src/finality/mod.rs
  relays/lib-substrate-relay/src/finality/source.rs
  relays/lib-substrate-relay/src/finality/target.rs
  relays/lib-substrate-relay/src/messages_lane.rs
  relays/lib-substrate-relay/src/messages_metrics.rs
  relays/lib-substrate-relay/src/messages_source.rs
  relays/lib-substrate-relay/src/messages_target.rs
  relays/lib-substrate-relay/src/on_demand/headers.rs
  relays/lib-substrate-relay/src/on_demand/parachains.rs
  relays/lib-substrate-relay/src/parachains/source.rs
  relays/lib-substrate-relay/src/parachains/target.rs
Labels: P-Relay

#2154 local.Dockerfile for building images from locally built binaries
  local.Dockerfile
  local.Dockerfile.dockerignore
  scripts/build-containers.sh
Labels: A-chores, P-Devops

#2162 Add comment re Cache to CachingClient
  relays/client-substrate/src/client/caching.rs
Labels: P-Relay

#2163 Do not wait for reader when sending subscription items
  relays/client-substrate/src/client/subscription.rs
Labels: A-bug, P-Relay

#2164 Use unsync cache + async-aware sync primitives
  relays/client-substrate/src/client/caching.rs
Labels: A-bug, P-Relay

#2155 Use compact proofs for messages delivery
  .config/lingua.dic
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/weights/pallet_bridge_messages_messages_bench_runtime_with_rialto_messages_instance.rs
  bin/millau/runtime/src/weights/pallet_bridge_messages_messages_bench_runtime_with_rialto_parachain_messages_instance.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/messages_generation.rs
  bin/runtime-common/src/mock.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  modules/beefy/src/mock.rs
  modules/grandpa/src/mock.rs
  modules/messages/src/weights.rs
  modules/parachains/src/mock.rs
  primitives/chain-bridge-hub-kusama/src/lib.rs
  primitives/chain-bridge-hub-polkadot/src/lib.rs
  primitives/chain-bridge-hub-rococo/src/lib.rs
  primitives/chain-bridge-hub-wococo/src/lib.rs
  primitives/chain-kusama/src/lib.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-polkadot/src/lib.rs
  primitives/chain-rialto-parachain/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  primitives/chain-rococo/src/lib.rs
  primitives/chain-westend/src/lib.rs
  primitives/chain-wococo/src/lib.rs
  primitives/header-chain/src/lib.rs
  primitives/messages/src/lib.rs
  primitives/polkadot-core/src/lib.rs
  primitives/runtime/src/chain.rs
  primitives/runtime/src/lib.rs
  primitives/runtime/src/vec_db.rs
  relays/client-substrate/src/test_chain.rs
  relays/lib-substrate-relay/src/messages_lane.rs
  relays/lib-substrate-relay/src/messages_source.rs
  scripts/license_header
Labels: PR-audit-needed

#2161 Revive new client and fix relay-halt issue
  Cargo.lock
  modules/relayers/src/lib.rs
  primitives/relayers/src/lib.rs
  primitives/runtime/src/lib.rs
  relays/bin-substrate/src/bridges/kusama_polkadot/kusama_headers_to_bridge_hub_polkadot.rs
  relays/bin-substrate/src/bridges/kusama_polkadot/polkadot_headers_to_bridge_hub_kusama.rs
  relays/bin-substrate/src/bridges/rococo_wococo/rococo_headers_to_bridge_hub_wococo.rs
  relays/bin-substrate/src/bridges/rococo_wococo/wococo_headers_to_bridge_hub_rococo.rs
  relays/bin-substrate/src/cli/chain_schema.rs
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/cli/register_parachain.rs
  relays/bin-substrate/src/cli/relay_headers.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/mod.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/parachain_to_parachain.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/relay_to_parachain.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/relay_to_relay.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/bin-substrate/src/cli/relay_parachains.rs
  relays/bin-substrate/src/cli/resubmit_transactions.rs
  relays/bin-substrate/src/cli/send_message.rs
  relays/client-substrate/Cargo.toml
  relays/client-substrate/src/chain.rs
  relays/client-substrate/src/client.rs
  relays/client-substrate/src/client/caching.rs
  relays/client-substrate/src/client/client.rs
  relays/client-substrate/src/client/mod.rs
  relays/client-substrate/src/client/rpc.rs
  relays/client-substrate/src/client/rpc_api.rs
  relays/client-substrate/src/client/subscription.rs
  relays/client-substrate/src/error.rs
  relays/client-substrate/src/guard.rs
  relays/client-substrate/src/lib.rs
  relays/client-substrate/src/metrics/float_storage_value.rs
  relays/client-substrate/src/transaction_tracker.rs
  relays/lib-substrate-relay/src/finality/engine.rs
  relays/lib-substrate-relay/src/finality/initialize.rs
  relays/lib-substrate-relay/src/finality/mod.rs
  relays/lib-substrate-relay/src/finality/source.rs
  relays/lib-substrate-relay/src/finality/target.rs
  relays/lib-substrate-relay/src/messages_lane.rs
  relays/lib-substrate-relay/src/messages_metrics.rs
  relays/lib-substrate-relay/src/messages_source.rs
  relays/lib-substrate-relay/src/messages_target.rs
  relays/lib-substrate-relay/src/on_demand/headers.rs
  relays/lib-substrate-relay/src/on_demand/parachains.rs
  relays/lib-substrate-relay/src/parachains/source.rs
  relays/lib-substrate-relay/src/parachains/target.rs
Labels: P-Relay
