Repository paritytech/parity-bridges-common, pull requests merged in 2023-06, with the labels that each got.

#2169 Moved FromBridgedChainMessagesDeliveryProof to bp-messages
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  primitives/messages/src/source_chain.rs
  relays/client-bridge-hub-rococo/src/codegen_runtime.rs
  relays/client-rialto-parachain/src/codegen_runtime.rs
  relays/lib-substrate-relay/src/messages_lane.rs
  relays/lib-substrate-relay/src/messages_target.rs
  tools/runtime-codegen/src/main.rs
Labels: P-Runtime

#2170 Moved FromBridgedChainMessagesProof to bp-messages
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/mock.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  primitives/messages/src/target_chain.rs
  relays/client-bridge-hub-rococo/src/codegen_runtime.rs
  relays/client-rialto-parachain/src/codegen_runtime.rs
  relays/lib-substrate-relay/src/messages_lane.rs
  relays/lib-substrate-relay/src/messages_source.rs
  tools/runtime-codegen/src/main.rs
Labels: P-Runtime

#2171 Introduce bp_messages::ChainWithMessages
  Cargo.lock
  primitives/chain-bridge-hub-kusama/src/lib.rs
  primitives/chain-bridge-hub-polkadot/src/lib.rs
  primitives/chain-bridge-hub-rococo/src/lib.rs
  primitives/chain-bridge-hub-wococo/src/lib.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-rialto-parachain/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  primitives/messages/src/lib.rs
  relays/client-bridge-hub-kusama/Cargo.toml
  relays/client-bridge-hub-kusama/src/lib.rs
  relays/client-bridge-hub-polkadot/Cargo.toml
  relays/client-bridge-hub-polkadot/src/lib.rs
  relays/client-bridge-hub-rococo/src/lib.rs
  relays/client-bridge-hub-wococo/Cargo.toml
  relays/client-bridge-hub-wococo/src/lib.rs
  relays/client-millau/Cargo.toml
  relays/client-millau/src/lib.rs
  relays/client-rialto-parachain/src/lib.rs
  relays/client-rialto/Cargo.toml
  relays/client-rialto/src/lib.rs
  relays/client-substrate/src/chain.rs
  relays/lib-substrate-relay/src/messages_lane.rs
  relays/lib-substrate-relay/src/messages_source.rs
  relays/lib-substrate-relay/src/messages_target.rs
Labels: P-Runtime

#2173 Separate folder for messages in relay lib
  relays/bin-substrate/src/bridges/kusama_polkadot/bridge_hub_kusama_messages_to_bridge_hub_polkadot.rs
  relays/bin-substrate/src/bridges/kusama_polkadot/bridge_hub_polkadot_messages_to_bridge_hub_kusama.rs
  relays/bin-substrate/src/bridges/rialto_millau/millau_messages_to_rialto.rs
  relays/bin-substrate/src/bridges/rialto_millau/rialto_messages_to_millau.rs
  relays/bin-substrate/src/bridges/rialto_parachain_millau/millau_messages_to_rialto_parachain.rs
  relays/bin-substrate/src/bridges/rialto_parachain_millau/rialto_parachain_messages_to_millau.rs
  relays/bin-substrate/src/bridges/rococo_wococo/bridge_hub_rococo_messages_to_bridge_hub_wococo.rs
  relays/bin-substrate/src/bridges/rococo_wococo/bridge_hub_wococo_messages_to_bridge_hub_rococo.rs
  relays/bin-substrate/src/cli/bridge.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/mod.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/lib-substrate-relay/src/finality/target.rs
  relays/lib-substrate-relay/src/lib.rs
  relays/lib-substrate-relay/src/messages/metrics.rs
  relays/lib-substrate-relay/src/messages/mod.rs
  relays/lib-substrate-relay/src/messages/source.rs
  relays/lib-substrate-relay/src/messages/target.rs
  relays/lib-substrate-relay/src/on_demand/parachains.rs
Labels: P-Relay

#2174 Fix relayers pallet toml
  modules/relayers/Cargo.toml
Labels: A-chores

#2180 Moving messages code to pallet
  Cargo.lock
  bin/runtime-common/Cargo.toml
  bin/runtime-common/src/lib.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  bin/runtime-common/src/mock.rs
  bin/runtime-common/src/parachains_benchmarking.rs
  modules/messages/Cargo.toml
  modules/messages/src/inbound_lane.rs
  modules/messages/src/lib.rs
  modules/messages/src/outbound_lane.rs
  modules/messages/src/tests/messages_generation.rs
  modules/messages/src/tests/mock.rs
  modules/messages/src/tests/mod.rs
  modules/messages/src/tests/pallet_tests.rs
  modules/messages/src/weights_ext.rs
  primitives/runtime/src/lib.rs
  primitives/runtime/src/storage_proof.rs
Labels: P-Runtime

#2181 Move Chain::ID from relay-level Chain to primitives-level Chain
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/millau/runtime/src/rialto_parachain_messages.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/lib.rs
  bin/runtime-common/src/mock.rs
  modules/beefy/src/mock.rs
  modules/grandpa/src/mock.rs
  modules/messages/src/tests/pallet_tests.rs
  modules/parachains/src/mock.rs
  primitives/chain-bridge-hub-kusama/src/lib.rs
  primitives/chain-bridge-hub-polkadot/src/lib.rs
  primitives/chain-bridge-hub-rococo/src/lib.rs
  primitives/chain-bridge-hub-wococo/src/lib.rs
  primitives/chain-kusama/src/lib.rs
  primitives/chain-millau/src/lib.rs
  primitives/chain-polkadot/src/lib.rs
  primitives/chain-rialto-parachain/src/lib.rs
  primitives/chain-rialto/src/lib.rs
  primitives/chain-rococo/src/lib.rs
  primitives/chain-westend/src/lib.rs
  primitives/chain-wococo/src/lib.rs
  primitives/polkadot-core/src/lib.rs
  primitives/runtime/src/chain.rs
  primitives/runtime/src/lib.rs
  relays/client-bridge-hub-kusama/Cargo.toml
  relays/client-bridge-hub-kusama/src/lib.rs
  relays/client-bridge-hub-polkadot/src/lib.rs
  relays/client-bridge-hub-rococo/Cargo.toml
  relays/client-bridge-hub-rococo/src/lib.rs
  relays/client-bridge-hub-wococo/Cargo.toml
  relays/client-bridge-hub-wococo/src/lib.rs
  relays/client-kusama/Cargo.toml
  relays/client-kusama/src/lib.rs
  relays/client-millau/Cargo.toml
  relays/client-millau/src/lib.rs
  relays/client-polkadot/Cargo.toml
  relays/client-polkadot/src/lib.rs
  relays/client-rialto-parachain/Cargo.toml
  relays/client-rialto-parachain/src/lib.rs
  relays/client-rialto/Cargo.toml
  relays/client-rialto/src/lib.rs
  relays/client-rococo/Cargo.toml
  relays/client-rococo/src/lib.rs
  relays/client-substrate/src/chain.rs
  relays/client-substrate/src/test_chain.rs
  relays/client-westend/Cargo.toml
  relays/client-westend/src/lib.rs
  relays/client-wococo/Cargo.toml
  relays/client-wococo/src/lib.rs
Labels: P-Runtime

#2186 Fix clippy
  modules/parachains/src/lib.rs
Labels: A-chores

#2183 Remove source header chain
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/millau/runtime/src/rialto_parachain_messages.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/integrity.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/mock.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  modules/messages/Cargo.toml
  modules/messages/README.md
  modules/messages/src/benchmarking.rs
  modules/messages/src/lib.rs
  modules/messages/src/messages_proof.rs
  modules/messages/src/tests/messages_generation.rs
  modules/messages/src/tests/mock.rs
  modules/messages/src/tests/pallet_tests.rs
  modules/relayers/src/payment_adapter.rs
  primitives/messages/src/target_chain.rs
  relays/lib-substrate-relay/src/messages/mod.rs
Labels: P-Runtime

#2187 Use compact proofs for messages delivery confirmation
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  primitives/messages/src/lib.rs
  primitives/messages/src/source_chain.rs
  relays/lib-substrate-relay/src/messages/target.rs
Labels: PR-audit-needed

#2191 Remove MaximalOutboundPayloadSize and use BridgedChain::maximal_incomging_message_size instead
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/millau/runtime/src/rialto_parachain_messages.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/mock.rs
  modules/messages/src/lib.rs
  modules/messages/src/outbound_lane.rs
  modules/messages/src/tests/mock.rs
  modules/messages/src/tests/pallet_tests.rs
Labels: P-Runtime

#2192 Remove MessageBridge trait
  Cargo.lock
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/millau/runtime/src/rialto_parachain_messages.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/integrity.rs
  bin/runtime-common/src/lib.rs
  bin/runtime-common/src/messages.rs
  bin/runtime-common/src/messages_benchmarking.rs
  bin/runtime-common/src/mock.rs
  modules/messages/src/lib.rs
  primitives/messages/src/lib.rs
  relays/client-bridge-hub-kusama/Cargo.toml
  relays/client-bridge-hub-kusama/src/runtime_wrapper.rs
  relays/client-bridge-hub-polkadot/Cargo.toml
  relays/client-bridge-hub-polkadot/src/runtime_wrapper.rs
Labels: P-Runtime

#2193 Use BridgedChain::Account instead of InbundRelayer
  bin/millau/runtime/src/lib.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto/runtime/src/lib.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/mock.rs
  deployments/types-millau.json
  deployments/types-rialto.json
  deployments/types/common.json
  modules/messages/src/benchmarking.rs
  modules/messages/src/inbound_lane.rs
  modules/messages/src/lib.rs
  modules/messages/src/tests/mock.rs
  relays/lib-substrate-relay/src/messages/mod.rs
Labels: P-Runtime

#2195 Reuse messages proof generation from messages pallet
  bin/runtime-common/src/messages_benchmarking.rs
Labels: P-Runtime

#2196 Fixed remaining TODOs after messages pallet Config refactoring
  bin/millau/runtime/src/rialto_messages.rs
  bin/millau/runtime/src/rialto_parachain_messages.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/millau_messages.rs
  bin/runtime-common/src/integrity.rs
  modules/messages/src/tests/messages_generation.rs
Labels: P-Runtime

#2211 Prune messages from confirmation tx body, not from the on_idle
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/weights/pallet_bridge_messages_messages_bench_runtime_with_rialto_messages_instance.rs
  bin/millau/runtime/src/weights/pallet_bridge_messages_messages_bench_runtime_with_rialto_parachain_messages_instance.rs
  modules/messages/src/lib.rs
  modules/messages/src/outbound_lane.rs
  modules/messages/src/tests/pallet_tests.rs
  modules/messages/src/weights.rs
Labels: P-Runtime, PR-audit-maybe

#2214 Add state to message lanes
  Cargo.lock
  bin/millau/node/Cargo.toml
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/xcm_config.rs
  bin/rialto-parachain/node/Cargo.toml
  bin/rialto-parachain/node/src/chain_spec.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/xcm_config.rs
  bin/runtime-common/src/integrity.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/mock.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  modules/messages/README.md
  modules/messages/src/benchmarking.rs
  modules/messages/src/inbound_lane.rs
  modules/messages/src/lib.rs
  modules/messages/src/outbound_lane.rs
  modules/messages/src/proofs.rs
  modules/messages/src/tests/mock.rs
  modules/messages/src/tests/pallet_tests.rs
  primitives/messages/src/lib.rs
Labels: P-Runtime, PR-audit-needed, PR-breaksruntime

#2222 Box messages proof argument in receive_messages_proof call
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  modules/messages/src/benchmarking.rs
  modules/messages/src/lib.rs
  modules/messages/src/tests/mock.rs
  modules/messages/src/tests/pallet_tests.rs
  relays/lib-substrate-relay/src/messages/mod.rs
Labels: P-Runtime

#2223 Bump Substrate, Polkadot and Cumulus
  Cargo.lock
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/xcm_config.rs
  bin/rialto-parachain/node/src/chain_spec.rs
  bin/rialto-parachain/node/src/command.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/src/lib.rs
  bin/rialto/runtime/src/parachains.rs
  bin/rialto/runtime/src/xcm_config.rs
  primitives/beefy/Cargo.toml
  primitives/beefy/src/lib.rs
  primitives/chain-bridge-hub-cumulus/src/lib.rs
  primitives/chain-millau/Cargo.toml
  primitives/chain-millau/src/lib.rs
  primitives/chain-millau/src/millau_hash.rs
  primitives/header-chain/Cargo.toml
  primitives/header-chain/src/lib.rs
  primitives/messages/Cargo.toml
  primitives/messages/src/lib.rs
  primitives/runtime/Cargo.toml
  primitives/runtime/src/lib.rs
  primitives/runtime/src/storage_proof.rs
  relays/bin-substrate/src/cli/register_parachain.rs
Labels: A-chores

#2225 Fix some nightly errors
  modules/messages/Cargo.toml
  primitives/runtime/src/storage_proof.rs
Labels: A-chores

#2221 Change LaneId underlying type from [u8; 4] to H256
  Cargo.lock
  README.md
  bin/millau/node/Cargo.toml
  bin/millau/node/src/chain_spec.rs
  bin/millau/runtime/src/lib.rs
  bin/millau/runtime/src/rialto_messages.rs
  bin/millau/runtime/src/rialto_parachain_messages.rs
  bin/millau/runtime/src/xcm_config.rs
  bin/rialto-parachain/node/Cargo.toml
  bin/rialto-parachain/node/src/chain_spec.rs
  bin/rialto-parachain/runtime/src/lib.rs
  bin/rialto-parachain/runtime/src/millau_messages.rs
  bin/rialto/node/Cargo.toml
  bin/rialto/node/src/chain_spec.rs
  bin/rialto/runtime/Cargo.toml
  bin/rialto/runtime/src/millau_messages.rs
  bin/rialto/runtime/src/xcm_config.rs
  bin/runtime-common/src/messages_call_ext.rs
  bin/runtime-common/src/messages_xcm_extension.rs
  bin/runtime-common/src/mock.rs
  bin/runtime-common/src/refund_relayer_extension.rs
  deployments/bridges/rialto-millau/dashboard/grafana/relay-millau-to-rialto-messages-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/relay-rialto-to-millau-messages-dashboard.json
  deployments/bridges/rialto-millau/dashboard/grafana/rialto-millau-maintenance-dashboard.json
  deployments/bridges/rialto-millau/entrypoints/relay-messages-millau-to-rialto-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-messages-rialto-to-millau-entrypoint.sh
  deployments/bridges/rialto-millau/entrypoints/relay-millau-rialto-entrypoint.sh
  deployments/bridges/rialto-parachain-millau/dashboard/grafana/relay-millau-to-rialto-parachain-messages-dashboard.json
  deployments/bridges/rialto-parachain-millau/dashboard/grafana/relay-rialto-parachain-to-millau-messages-dashboard.json
  deployments/bridges/rialto-parachain-millau/dashboard/grafana/rialto-parachain-millau-maintenance-dashboard.json
  deployments/bridges/rialto-parachain-millau/entrypoints/relay-messages-to-millau-generator-entrypoint.sh
  deployments/bridges/rialto-parachain-millau/entrypoints/relay-millau-rialto-parachain-entrypoint.sh
  deployments/local-scripts/relay-messages-millau-to-rialto.sh
  deployments/local-scripts/relay-messages-rialto-to-millau.sh
  modules/messages/src/benchmarking.rs
  modules/messages/src/inbound_lane.rs
  modules/messages/src/outbound_lane.rs
  modules/messages/src/proofs.rs
  modules/messages/src/tests/mock.rs
  modules/messages/src/tests/pallet_tests.rs
  modules/relayers/src/benchmarking.rs
  modules/relayers/src/lib.rs
  modules/relayers/src/mock.rs
  modules/relayers/src/payment_adapter.rs
  modules/relayers/src/stake_adapter.rs
  primitives/messages/Cargo.toml
  primitives/messages/src/lib.rs
  primitives/messages/src/storage_keys.rs
  primitives/relayers/src/lib.rs
  relays/bin-substrate/Cargo.toml
  relays/bin-substrate/src/cli/mod.rs
  relays/bin-substrate/src/cli/relay_headers_and_messages/mod.rs
  relays/bin-substrate/src/cli/relay_messages.rs
  relays/lib-substrate-relay/src/messages/mod.rs
  relays/lib-substrate-relay/src/messages/source.rs
  relays/messages/src/message_lane_loop.rs
Labels: P-Relay, P-Runtime, PR-audit-needed, PR-breaksrelay, PR-breaksruntime

#2232 Use host Ubuntu version to build images with prebuilt binaries
  local.Dockerfile
  scripts/build-containers.sh
Labels: A-chores
